<div class="row ">
  <div class="col-lg-6 col-md-6 col-sm-12 mb-sm-1 ">

    <div class="jumbotron jumbotron-fluid">
      <h6> Datos del candidato</h6>
      <hr>

      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
          Nombre:
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          Apellido Paterno:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Apellido Materno:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Sexo:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Email:
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
          Estado Civil:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Edad:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Hijos:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Disponibilidad de viajar:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Visa:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Pasaporte:
        </div>
      </div>


      <div class="row mb-4">
        <div class="col-lg-3 col-md-2 col-sm-12">
          Contacto:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Telefono:
        </div>
      </div>




      <h6> Dirección</h6>
      <hr>
      <div class="row ">
        <div class="col-lg-3 col-md-2 col-sm-12">
          Calle:
        </div>
        <div class="col-lg-3 col-md-2 col-sm-12">
          Número interior:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Número exterior:
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12">
          Colonia:
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12">
          Codigo postal:
        </div>

      </div>

      <div class="row mb-4">
        <div class="col-lg-3 col-md-2 col-sm-12">
          Municipio o delegación:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          Estado:
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12">
          País:
        </div>

      </div>

    </div>

  </div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-sm-1 ">

    <div class="jumbotron jumbotron-fluid">
        <h6> Datos del requerimiento</h6>
        <hr>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            Tipo:
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            Prioridad:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            Area de negocio:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            Existe presupuesto:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            Tipo de vacante:
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-2 col-sm-12">
            Tarifa comercial:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            Número Vacantes:
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            Sueldo Tope:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            Sexo:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            Escolaridad:
          </div>
        </div>


        <div class="row mb-4">
          <div class="col-lg-2 col-md-2 col-sm-12">
            Requiere equipo:
          </div>
          <div class="col-lg-4 col-md-2 col-sm-12">
            Lugar entrevista:
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12">
            Lugar de asignación:
          </div>
        </div>

        <h6> Datos del cliente</h6>
        <hr>
        <div class="row">
          <div class="col-lg-3 col-md-2 col-sm-12">
            Nombre:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            <B> Contacto </B>
            <hr>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-lg-3 col-md-2 col-sm-12">
            Razon Social:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            Nombre:
          </div>

          <div class="col-lg-2 col-md-2 col-sm-12">
            Teléfono(s):
          </div>

          <div class="col-lg-2 col-md-2 col-sm-12">
            Email:
          </div>

          <div class="col-lg-2 col-md-2 col-sm-12">
            Puesto:
          </div>

        </div>

    </div>
        <!-- <h6>Datos del proyecto </h6>

        <hr>

        <div class="row ">
          <div class="col-lg-3 col-md-2 col-sm-12">
            Nombre:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            Descripción:
          </div>

          <div class="col-lg-2 col-md-2 col-sm-12">
            Puesto:
          </div>

          <div class="col-lg-2 col-md-2 col-sm-12">
            Inicio:
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-lg-3 col-md-2 col-sm-12">
            Observaciones:
          </div>
        </div> -->


      </div>


    </div>


    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <form>
          <div class="form-group">
              <label class="font-weight-bold" >Añadir Retroexpectiva</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
          </form>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12 mt-5">

          <button type="button" class="btn btn-success mr-5 ">Aceptado</button>
          <button type="button" class="btn btn-warning text-white mt-3">Rechazado</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 mt-5">
          <button type="button" class="btn btn-secondary mb-3">Pendiente</button>

          <button type="button" class="btn btn-primary text-white">Solicitud Pendiente</button>


      </div>
    </div>



