<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-md-offset col-sm-12">
        <h6>Bienvenido $Username / Backoffice </h6>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12">
       <!-- <button class="btn btn-success btn-sm" [routerLink]="['/Candidato']"> Nuevo</button> -->
      </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <app-requeri-backoffice></app-requeri-backoffice>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <app-candi-backoffice></app-candi-backoffice>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <app-requipe-backoffice></app-requipe-backoffice>
                </div>

</div>
