<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 col-lg-offset-2">
            <form [formGroup]="editForm" (submit)="saveData()" class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">Editar área</h1>
                <div class="form-group">
                    <label for="arnTipo">Área</label>
                    <input [(ngModel)]="area.arnTipo" maxlength="40" type="text" required class="form-control" name="arnTipo" formControlName="arnTipo" #arnTipo>
                    <div *ngIf="editForm.get('arnTipo').errors && editForm.get('arnTipo').dirty">
                        <p class="text-danger" *ngIf="editForm.get('arnTipo').hasError('required')">El área es requerida</p>
                        <p class="text-danger" *ngIf="editForm.get('arnTipo').hasError('maxlength')">Máximo 40 carácteres</p>
                        <p class="text-danger" *ngIf="editForm.get('arnTipo').hasError('pattern')">Solo se aceptan letras</p>
                    </div>
                    <button style="margin-top:15px;margin-right:15px;" type="button" class="btn btn-success" role="button" (click)='updateBusiness(arnTipo.value)' [disabled]="editForm.invalid">Editar</button>
                    <button style="margin-top:15px;margin-right:15px;" type="button" class="btn btn-danger" routerLink="/Area">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
