<div class="container">
  <h3>Solicitud <i class="fas fa-wallet fa-sm text-success"></i></h3>
    <div class="card mt-4 border-3 border-top border-top-success">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h4 class="text-muted">
                Datos del requerimiento
              </h4>
            </div>
          </div>


          <div class="row mt-2">

              <div class="col-lg-4">
                  <h6 class="mb-2">
                    Tipo de requerimiento:
                    <span class="text-muted"
                      > {{ solicitud?.arnAreanegocio.arnTipo}}</span
                    >
                  </h6>
                </div>

            <div class="col-lg-4">
              <h6 class="mb-2">
                  Prioridad:<span class="text-muted"
                  > {{ solicitud?.priPrioridad.priNombre }}</span
                >
              </h6>
            </div>

            <div class="col-lg-4">
              <h6 class="mb-2">
                  Presupuesto:<span class="text-muted"
                  > {{ solicitud && solicitud.solExistepresupuesto }}</span
                >
              </h6>
            </div>



            <div class="col-lg-4">
              <h6 class="mb-2">
                  Tipo Vacante:
                <span class="text-muted"
                  > {{ solicitud && solicitud?.tvaTipoVacante.tvaTipo}}</span
                >
              </h6>
            </div>


            <div class="col-lg-4">
                <h6 class="mb-2">
                    Tipo perfil:<span class="text-muted"
                    > {{ solicitud && solicitud?.perPerfil.perPerfil }}</span
                  >
                </h6>
              </div>



            <div class="col-lg-4">
                <h6 class="mb-2">
                    Sexo:<span class="text-muted"
                    > {{ solicitud && solicitud.solGenero }}</span
                  >
                </h6>
              </div>


            <div class="col-lg-4">
                <h6 class="mb-2">
                    Escolaridad:<span class="text-muted"
                    > {{solicitud && solicitud.solEscolaridad }}</span
                  >
                </h6>
              </div>


              <div class="col-lg-4">
                  <h6 class="mb-2">
                      Edad:<span class="text-muted"
                      > {{solicitud && solicitud.solEdadfinal }}</span
                    >
                  </h6>
                </div>
        </div>
      </div>
    </div>


      <div class="card mt-4 border-3 border-top border-top-success">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h4 class="text-muted">
                  Datos del Cliente
                </h4>
              </div>
            </div>


            <div class="row mt-2">

                <div class="col-lg-4">
                    <h6 class="mb-2">
                        Cliente:
                      <span class="text-muted"
                        > {{ solicitud && solicitud?.cliCliente.cliNombre}}</span
                      >
                    </h6>
                  </div>

              <div class="col-lg-4">
                <h6 class="mb-2">
                    Contacto:<span class="text-muted"
                    > {{ solicitud?.cliCliente.contactos }}</span
                  >
                </h6>
              </div>
          </div>
        </div>
      </div>

        <div class="card mt-4 border-3 border-top border-top-success">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <h4 class="text-muted">
                      Datos del Proyecto
                  </h4>
                </div>
              </div>


              <div class="row mt-2">

                  <div class="col-lg-4">
                      <h6 class="mb-2">
                          Nombre del proyecto:
                        <span class="text-muted"
                          > {{ solicitud?.proProyecto.proNombre}}</span
                        >
                      </h6>
                    </div>

                <div class="col-lg-4">
                  <h6 class="mb-2">
                      Puesto:<span class="text-muted"
                      > {{ solicitud?.proProyecto.proPuestoarea }}</span
                    >
                  </h6>
                </div>

                <div class="col-lg-4">
                    <h6 class="mb-2">
                        Duración proyecto:<span class="text-muted"
                        > {{ solicitud?.proProyecto.proDuracionmeses }}</span
                      >
                    </h6>
                  </div>


                  <div class="col-lg-4">
                      <h6 class="mb-2">
                          Jornada Laboral:<span class="text-muted"
                          > {{ solicitud && solicitud.jolJornadalaboral.jolTipo }}</span
                        >
                      </h6>
                    </div>


                    <div class="col-lg-4">
                        <h6 class="mb-2">
                            Descripción:<span class="text-muted"
                            > {{ solicitud?.proProyecto.proDescripcion}}</span
                          >
                        </h6>
                      </div>

                      <div class="col-lg-4">
                          <h6 class="mb-2">
                              Numero de vacantes:<span class="text-muted"
                              > {{ solicitud && solicitud.solNovacantes}}</span
                            >
                          </h6>
                        </div>

                        <div class="col-lg-4">
                            <h6 class="mb-2">
                                Tarifa comercial:<span class="text-muted"
                                > {{ solicitud && solicitud.solTarifacomercial}}</span
                              >
                            </h6>
                          </div>

            </div>
          </div>
        </div>



          <div class="card mt-4 border-3 border-top border-top-success">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4 class="text-muted">
                        Conocimiento requeridos
                    </h4>
                  </div>
                </div>


                <div class="row mt-2">
                    <div class="col-lg-4">
                        <h6 class="mb-2">
                            Idioma / Nivel:
                            <span class="text-muted" *ngFor="let a of solicitud?.idiomas">
                                {{a.idiIdioma.idiNombre}} /  {{a.sliNivel}}
                               </span
                          >
                        </h6>
                      </div>

                    <div class="col-lg-4">
                        <h6 class="mb-2">
                            Conocimiento / Nivel:
                            <span class="text-muted" *ngFor="let b of solicitud?.conocimientos">
                                {{b.cotConocimientosTec.cotConocimiento}} /  {{b.socNivel}}
                               </span
                          >
                        </h6>
                      </div>

                      <div class="col-lg-4">
                          <h6 class="mb-2">
                              Habilidades:
                              <span class="text-muted" *ngFor="let b of solicitud?.habilidades">
                                  {{b.cohCompetenciashabilidades.cohDescripcion}}
                                 </span
                            >
                          </h6>
                        </div>

                </div>
              </div>
            </div>




          <div class="card mt-4 border-3 border-top border-top-success">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4 class="text-muted">
                        Equipo/Funciones
                    </h4>
                  </div>
                </div>


                <div class="row mt-2">
                    <div class="col-lg-8">
                        <h6 class="mb-2">
                            Equipo / Descripcion:
                            <span class="text-muted" *ngFor="let a of solicitud?.equipos">
                                {{a.equEquipo.equNombre}} /  {{a.equEquipo.equDescripcion}}
                               </span
                          >
                        </h6>
                      </div>

                    <div class="col-lg-4">
                        <h6 class="mb-2">
                            Funcion
                            <span class="text-muted" *ngFor="let b of solicitud?.funciones">
                                {{b.funDescripcion}}
                               </span
                          >
                        </h6>
                      </div>

              </div>
            </div>
          </div>




          <div class="card mt-4 border-3 border-top border-top-success">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4 class="text-muted">
                        Percepciones
                    </h4>
                  </div>
                </div>


                <div class="row mt-2">
                    <div class="col-lg-8">
                        <h6 class="mb-2">
                            Nombre / Descripcion / Valor :
                            <span class="text-muted" *ngFor="let a of solicitud?.percepsiones">
                                {{a.prePercepciones.preTipo}} /  {{a.slpDescripcion}} /   {{a.slpValorm}}
                               </span
                          >
                        </h6>
                      </div>

              </div>
            </div>
          </div>



  <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-success mt-4 mr-2"
        [routerLink]="['/New-candidato']"
        >Nuevo</button>

        <button class="btn btn-danger mt-4"
        [routerLink]="['/IndexReclutamiento']"
        >Atras</button>
      </div>

    </div>
