<div class="accordion" id="accordionExample">
  <div class="card border ">
    <div class="card-header bg-primary " id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link "
          type="button"
          data-toggle="collapse"
          data-target="#collapseCandidatosRecha"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Candidatos Rechazados por TI
        </button>
      </h5>
    </div>

    <div
      id="collapseCandidatosRecha"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="container">
          <table id="dataTable" datatable class="row-border hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Fecha</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let a of allSeguimiento">
                  <th scope="row">{{ a.cndDatoscandidato.cndIdcandidato }}</th>
                  <td>{{ a.cndDatoscandidato.cndNombre }}</td>
                  <td>{{ a.secEstatus }}</td>
                  <td>
                    <i style="color:#ff0000; margin-right:20px;"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Observar"
                    class="fas fa-search"
                    [routerLink]="['/CandidatoRechazado', a.secIdseguimientocandidato]"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
