<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-5 col-md-offset col-sm-12">
      <h6>Bienvenido $Username / Comercial</h6>
    </div>
    <div class="col-lg-6 col-md-5 col-sm-12">
     <!-- <button class="btn btn-success btn-sm" [routerLink]="['/Candidato']"> Nuevo</button> -->
    </div>
  </div>




    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-aceptados-comercial></app-aceptados-comercial>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-rechazados-comercial></app-rechazados-comercial>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
     <app-borrador-comercial></app-borrador-comercial>
    </div>
    </div>

<br>
<br>
<br>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <app-candidatospendientes-comercial></app-candidatospendientes-comercial>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <app-retroespectivas-comercial></app-retroespectivas-comercial>
      </div>



      <br>


      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-solicitudespendientes-comercial></app-solicitudespendientes-comercial>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">

        </div>
      </div>


  </div>
