<div class="accordion" id="accordionExample">
  <div class="card border ">
    <div class="card-header bg-success " id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link "
        type="button"
        data-toggle="collapse"
        data-target="#collapseAceptadosMedia"
        aria-expanded="true"
        aria-controls="collapseOne">
          Prioridad Media
        </button>
      </h5>
    </div>

    <div id="collapseAceptadosMedia" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">
          <table id="dataTable" datatable class="row-border hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Puesto</th>
                  <th scope="col">Prioridad</th>
                  <th scope="col">Proyecto</th>
                  <th scope="col">Consulta</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let a of allSeguimiento">
                  <td scope="row">{{ a.solSolicitud.solIdsolicitud }}</td>
                  <td>{{ a.sgsFecha }}</td>
                  <td>{{ a.solSolicitud.cliCliente.cliNombre}}</td>
                  <td>{{ a.solSolicitud.proProyecto.proPuestoarea }}</td>
                  <td>{{ a.solSolicitud.priPrioridad.priNombre }}</td>
                  <td>{{ a.solSolicitud.proProyecto.proNombre }}</td>
                  <td>
                    <i style="color:#0044ff; margin-right:20px;"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Aceptado"
                    class="fas fa-search"
                    [routerLink]="['/AceptadosTi', a.sgsIdseguimientosol]"
                    *ngIf="authservice.hasRole('ROLE_ADMIN')"></i></td>
                </tr>
              </tbody>
            </table>
          </div>

      </div>
    </div>
  </div>
    </div>
