<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header bg-secondary" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link text-white"
          type="button"
          data-toggle="collapse"
          data-target="#collapseSoli1"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Solicitudes Validadas
        </button>
      </h5>
    </div>

    <div
      id="collapseSoli1"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
          <table id="dataTable" datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cliente</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let a of allSeguimiento">
                  <th scope="row">{{ a.solSolicitud.solIdsolicitud }}</th>
                  <td>{{ a.sgsFecha }}</td>
                  <td>{{ a.solSolicitud.proProyecto.proNombre }}</td>
                  <td>{{ a.solSolicitud.proProyecto.cliCliente.cliNombre }}</td>

                  <td class="text-center" >

                    <i
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Consultar"
                      class="fas fa-search"

                      *ngIf="authservice.hasRole('ROLE_ADMIN')"></i>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
