<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-md-offset col-sm-12">
        <h6>Bienvenido $Username / Lider Reclutamiento </h6>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12">
       <!-- <button class="btn btn-success btn-sm" [routerLink]="['/Candidato']"> Nuevo</button> -->
      </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <app-prial-liderreclu></app-prial-liderreclu>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <app-prime-liderreclu></app-prime-liderreclu>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <app-priba-liderreclu></app-priba-liderreclu>
        </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <app-asigna-liderreclu></app-asigna-liderreclu>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <app-validadas-liderreclu></app-validadas-liderreclu>
            </div>




      </div>
