<a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
</a>

<div class="sidebar-content" >
    <div class="sidebar-brand">
        <a href="/">Reclutamiento y Selección</a>
        <div id="close-sidebar">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="sidebar-header">
        <div class="user-pic">
            <img class="img-responsive img-rounded" src="../../assets/img/ns.png" alt="User picture">
        </div>
        <div class="user-info">
            <span class="user-name">Username
                <strong>Smith</strong>
            </span>
            <span class="user-role">Administrador</span>
        </div>
    </div>
    <!-- términa sidebar-header  -->

    <div class="sidebar-menu">
        <ul>
            <li class="header-menu">
                <span>General</span>
            </li>
            <li class="sidebar-dropdown">
                <a>
                    <i class="fas fa-folder"></i>
                    <span>Solicitudes</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="/Create-solicitud"> Nueva solicitud
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a>
                <i class="fas fa-address-card"></i>
                    <span>Candidatos</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a routerLink="/New-candidato" >Nuevo candidato

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a>
                  <i class="fas fa-table"></i>
                    <span>Catálogos</span>
                </a>
                <div class="sidebar-submenu">
                    <ul *ngFor="let c of catalogos">
                        <li>
                            <a routerLink="/{{c.path}}">{{c.titulo}}</a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- sidebar-menu  -->
</div>
<!-- Términa sidebar-content  -->
