<a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
</a>

<div class="sidebar-content"
*ngIf="authService.hasRole('ROLE_ADMIN')
|| authService.hasRole('ROLE_COMERCIAL')
|| authService.hasRole('ROLE_RECLUTADOR')
|| authService.hasRole('ROLE_LIDERRECLU')
|| authService.hasRole('ROLE_VALIDACION')
|| authService.hasRole('ROLE_BACKOFFICE')">
    <div class="sidebar-brand">
        <a href="/">Reclutamiento y Selección</a>
        <div id="close-sidebar">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="sidebar-header">
        <div class="user-pic">
            <img class="img-responsive img-rounded" src="../../assets/img/ns.png" alt="User picture">
        </div>
        <div class="user-info" *ngIf="authService.isAuthenticated">
            <span class="user-name">{{user$ && user$.usrNombreusuario}}
            </span>
            <span class="user-role">{{user$ && user$.roles}}</span>
        </div>
    </div>
    <!-- términa sidebar-header  -->

    <div class="sidebar-menu">
        <ul>
            <li class="header-menu">
                <span>General</span>
            </li>
            <li class="sidebar-dropdown"
            *ngIf="authService.hasRole('ROLE_ADMIN')
            || authService.hasRole('ROLE_COMERCIAL')
            || authService.hasRole('ROLE_VALIDACION')
            || authService.hasRole('ROLE_BACKOFFICE')">
                <a>
                    <i class="fas fa-folder"></i>
                    <span>Solicitudes</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_COMERCIAL')">
                            <a href="/Create-solicitud"> Nueva solicitud
                            </a>
                        </li>
                        <li *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_VALIDACION')">
                            <a href="/IndexTiValidacion"> Validacion TI
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown"
            *ngIf="authService.hasRole('ROLE_ADMIN')
            || authService.hasRole('ROLE_COMERCIAL')
            || authService.hasRole('ROLE_RECLUTADOR')
            || authService.hasRole('ROLE_LIDERRECLU')
            || authService.hasRole('ROLE_VALIDACION')
            || authService.hasRole('ROLE_BACKOFFICE')">
                <a>
                <i class="fas fa-address-card"></i>
                    <span>Candidatos</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li *ngIf="authService.hasRole('ROLE_ADMIN')
                        || authService.hasRole('ROLE_RECLUTADOR')
                        || authService.hasRole('ROLE_LIDERRECLU')">
                            <a routerLink="/New-candidato" >Nuevo candidato

                            </a>
                        </li>
                        <li *ngIf="authService.hasRole('ROLE_ADMIN')
                        || authService.hasRole('ROLE_RECLUTADOR')
                        || authService.hasRole('ROLE_LIDERRECLU')">
                          <a href="/IndexReclutamiento">  Reclutamiento
                          </a>
                      </li>

                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown" *ngIf="authService.hasRole('ROLE_ADMIN')">
                <a>
                  <i class="fas fa-table"></i>
                    <span>Catálogos</span>
                </a>
                <div class="sidebar-submenu">
                    <ul *ngFor="let c of catalogos">
                        <li>
                            <a routerLink="/{{c.path}}">{{c.titulo}}</a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- sidebar-menu  -->
</div>
<!-- Términa sidebar-content  -->
