
<!-- Titulo principal-->
<div class="container">
  <h4>Usuario</h4>
  <hr />
<!--Empieza el card donde se encunentra la tabla-->
  <div class="card" style="width: 100%;">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 clearfix">
          <div class="float-left align-baseline" style="margin: 0 !important;padding:0 important;">
          <i class="fas fa-table" style="font-size: 15px;"> Catálogo usuario</i>
        </div>
        <div class="float-right align-baseline " style="margin: 0 !important;padding:0 important;">
          <app-create-usuario></app-create-usuario>
        </div>
      </div>
      </div>
    </div>
<!--Términa el titulo del card-->

<!-- Empieza el contenido del card-->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">

        <!--La tabla-->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <table id="dataTable" datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Nombre Completo</th>
                  <th scope="col">Email</th>
                  <th scope="col">Perfil</th>
                  <th scope="col">Telefono</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let a of allUsuario">
                  <th scope="row">{{ a.usrUsuario }}</th>
                  <td>{{ a.usrUsername }}</td>
                  <td>{{ a.usrNombreusuario }}</td>
                  <td>{{ a.usrEmail }}</td>
                  <td [ngSwitch]="a.usrPerfil">
                    <a *ngSwitchCase="'A'"> Administrador</a>
                    <a *ngSwitchCase="'R'"> Reclutador</a>
                    <a *ngSwitchCase="'C'"> Comercial</a>
                    <a *ngSwitchCase="'L'"> Lider de reclutamiento</a>
                    <a *ngSwitchCase="'V'"> Validación TI</a>
                    <a *ngSwitchCase="'B'"> BackOffice</a>
                    <a *ngSwitchDefault>No valido</a>
                  </td>
                  <td>{{ a.usrTelefono}}</td>
                  <td class="text-center" >

                    <i style="color:#007bff; margin-right:20px;"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Editar"
                      class="fas fa-pencil-alt"
                      [routerLink]="['/EditUser', a.usrUsuario]"></i>

                      <i style="color:#dc3545;"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Eliminar"
                      class="fas fa-trash-alt"
                      (click)="deleteBusiness(a.usrUsuario,a.usrNombreusuario)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
