<div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-5 col-md-offset col-sm-12">
    <h6>Solicitudes para segunda opción de candidato </h6>
    </div>
    <div class="col-lg-6 col-md-5 col-sm-12">
    <!-- <button class="btn btn-success btn-sm" [routerLink]="['/Candidato']"> Nuevo</button> -->
    </div>
    </div>

    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <h6>Prioridad alta </h6>
    <div class="card border border-success">
    <div class="card-header bg-success text-white">
    <app-altaso></app-altaso>
    </div>
    <div class="card-body">
    </div>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <h6>Prioridad media </h6>
    <div class="card border border-success">
    <div class="card-header bg-success text-white">
    <app-mediaso></app-mediaso>
    </div>
    <div class="card-body">

    </div>
    </div>
    </div>
    </div>


    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <h6>Prioridad baja </h6>
    <div class="card border border-success">
    <div class="card-header bg-success text-white">
    <app-bajaso></app-bajaso>
    </div>
    <div class="card-body">

    </div>
    </div>
    </div>
    </div>



    </div>
