<div class="container">
    <div class="row mb-lg-5 mb-md-5">

        <div class="col-lg-4 col-md-4 col-sm-12 mb-sm-1 mt-sm-1">
          <div class="card-counter primary" [routerLink]="['/TablaSolicitudPorValidarTiValidacion']">
            <i class="fas fa-warehouse"></i>
            <span class="count-numbers">{{ allAreas.length }}</span>
            <span class="count-name">Solicitudes Pendientes</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 mb-sm-1 mt-sm-1">
          <div class="card-counter danger">
            <i class="fas fa-user-friends"></i>
            <span class="count-numbers">599</span>
            <span class="count-name">Candidatos por validar</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 mb-sm-1 mt-sm-1">
          <div class="card-counter success">
            <i class="fa fa-users"></i>
            <span class="count-numbers">6875</span>
            <span class="count-name">2da Opcion</span>
          </div>
        </div>


 </div>


  <div class="row mb-lg-5 mt-lg-5 mb-md-5 mt-md-5">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-sm-1 mt-sm-1">
<app-solic-validadas-ti></app-solic-validadas-ti>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mb-sm-1 mt-sm-1">
<app-candi-validados-ti></app-candi-validados-ti>
    </div>
  </div>

</div>
