<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-5 col-md-offset col-sm-12">
      <h6>Bienvenido $Username / Recursos Humanos</h6>
    </div>
  </div>
  <hr>

    <div class="row mb-lg-5 mb-md-5 mt-lg-5 mt-md-5">
      <div class="col-lg-12 col-md-12 col-sm-12  mb-sm-1 mt-sm-1">
        <app-pendientes-recursoshumanos></app-pendientes-recursoshumanos>
      </div>
    </div>


    <div class="row mb-lg-5 mb-md-5 mt-lg-5 mt-md-5">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-sm-1 mt-sm-1">
        <app-pendientesco-recursoshumanos></app-pendientesco-recursoshumanos>
      </div>
    </div>


    <div class="row mb-lg-5 mb-md-5 mt-lg-5 mt-md-5">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-sm-1 mt-sm-1">
          <app-contratados-recursoshumanos></app-contratados-recursoshumanos>
        </div>
      </div>

  </div>
