<div class="accordion" id="accordionExample">
    <div class="card border border-primary">
    <div class="card-header bg-primary" id="headingOne">
    <h5 class="mb-0">
    <button
    class="btn btn-link text-white"
    type="button"
    data-toggle="collapse"
    data-target="#collapseReqValTiAlta"
    aria-expanded="true"
    aria-controls="collapseOne"
    >
    Prioridad Alta
    </button>
    </h5>
    </div>

    <div
    id="collapseReqValTiAlta"
    class="collapse"
    aria-labelledby="headingOne"
    data-parent="#accordionExample"
    >
    <div class="card-body">

     <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
    <table id="dataTable" datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
    <thead>
    <tr>
    <th scope="col">Fecha</th>
    <th scope="col">Cliente</th>
    <th scope="col">Proyecto</th>
    <th scope="col">Estatus</th>
    <th scope="col">Prioridad</th>
    <th>Consulta</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let s of allSolicitud">
    <th scope="row">{{ s.sgsFecha }}</th>
    <td>{{ s.solSolicitud?.cliCliente.cliNombre }}</td>
    <td>{{ s.solSolicitud?.proProyecto.proNombre }}</td>
    <td>{{ s.estEstatusSolicitud.estDescripcion }}</td>
    <td>{{s.solSolicitud?.priPrioridad.priNombre}}</td>
    <td class="text-center" >
        <i style=" margin-right:20px;"
        data-toggle="tooltip"
        data-placement="top"
        title="Consultar"
        class="fas fa-search text-primary"
        [routerLink]="['/SegSolicitud', s.solSolicitud.solIdsolicitud]"
        *ngIf="authservice.hasRole('ROLE_ADMIN') || authservice.hasRole('ROLE_BACKOFFICE')"></i>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>




    </div>
    </div>
    </div>
    </div>

