<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-md-offset col-sm-12">
        <h6>Solicitudes por validar / </h6>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12">
       <!-- <button class="btn btn-success btn-sm" [routerLink]="['/Candidato']"> Nuevo</button> -->
      </div>
    </div>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre de solicitud</th>
            <th scope="col">Fecha de solicitud</th>
            <th scope="col">Fecha maxima por validar</th>
            <th scope="col">Consultar</th>
            <th scope="col">Validar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
