<div class="row justify-content-md-center">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select [(ngModel)]="cliente" class="custom-select" id="inputGroupSelect01">
          <option [ngValue]="null" selected>Choose...</option>
          <option *ngFor="let c of contacto" [ngValue]="c" >{{c.cliNombre}}</option>

        </select>
      </div>





    <div id="accordion" class="col-11" *ngIf="cliente">
      <div class="card">
        <div class="card-header" id="headingOne">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 clearfix">
                  <div class="float-left align-baseline" style="margin: 0 !important;padding:0 important;">
                  <i class="fas fa-table" style="font-size: 15px;"> Catálogo Contacto Cliente</i>
                </div>
                <div class="float-right align-baseline btn-success" style="margin: 0 !important;padding:0 important;">
                    <button  class="btn btn-link align-text-top" style="font-size: 15px;" [routerLink]="['/AddContacto', cliente.cliIdcliente]">
                        <i class="fas fa-plus"> Nuevo</i>
                    </button>
                </div>
              </div>

        </div>
      </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <table class="table table-striped table-bordered table-hover" id="tableArea">
              <thead  class="thead-ligth">
                  <tr>
                      <th scope="col">cliente</th>
                      <th scope="col">Id</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Email</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Ext</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody class="tbody-ligth" >
                  <tr *ngFor="let a of cliente.contactos">
                      <th scope="row" >{{cliente.cliIdcliente}}</th>
                      <th scope="row" >{{a.clcIdconcli}}</th>
                      <td >{{a.clcNombre}}</td>
                      <td >{{a.clcTelefono}}</td>
                      <td >{{a.clcEmail}}</td>
                      <td >{{a.clcTipo}}</td>
                      <td >{{a.clcExtension}}</td>
                      <td  align="center" style="width: 6em;">
                          <i style="color:#007bff; margin-right:20px;"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Editar"
                          class="fas fa-pencil-alt"
                          [routerLink]="['/EditContacto', a.clcIdconcli]"
                          *ngIf="authservice.hasRole('ROLE_ADMIN')"></i>

                          <i style="color:#dc3545;"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Eliminar"
                          class="fas fa-trash-alt"
                          (click)="deleteBusiness(a.clcIdconcli, a.clcNombre)"
                          *ngIf="authservice.hasRole('ROLE_ADMIN')"></i>
                      </td>
                  </tr>

              </tbody>
          </table>
          </div>
        </div>
      </div>
      </div>
    </div>
