<div class="container">
  <h3>Asignación del Requerimiento <i class="fas fa-wallet fa-sm text-success"></i></h3>
    <div class="card mt-4 border-3 border-top border-top-success">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h4 class="text-muted">
                Datos del requerimiento
              </h4>
            </div>
          </div>


          <div class="row ">

              <div class="col-lg-4 mt-2">
                  <h6 class="mb-2">
                    Tipo de requerimiento:
                    <span class="text-muted"
                      > {{ solicitud?.arnAreanegocio.arnTipo}}</span
                    >
                  </h6>
                </div>

            <div class="col-lg-4 mt-2">
              <h6 class="mb-2">
                  Prioridad:<span class="text-muted"
                  > {{ solicitud?.priPrioridad.priNombre }}</span
                >
              </h6>
            </div>

            <div class="col-lg-4 mt-2">
              <h6 class="mb-2">
                Area de negocio:<span class="text-muted"
                  > {{ solicitud && solicitud.arnAreanegocio.arnTipo }}</span
                >
              </h6>
            </div>



            <div class="col-lg-4">
              <h6 class="mb-2">
                Existe presupuesto:
                <span class="text-muted"
                  > {{ solicitud && solicitud.solExistepresupuesto}}</span
                >
              </h6>
            </div>


            <div class="col-lg-4">
                <h6 class="mb-2">
                  Tipo de vacante: <span class="text-muted"
                    > {{ solicitud && solicitud.tvaTipoVacante.tvaTipo  }}</span
                  >
                </h6>
              </div>



            <div class="col-lg-4">
                <h6 class="mb-2">
                  Tarifa comercial:<span class="text-muted"
                    > {{ solicitud && solicitud.solTarifacomercial }}</span
                  >
                </h6>
              </div>


            <div class="col-lg-4">
                <h6 class="mb-2">
                  Número Vacantes:<span class="text-muted"
                    > {{ solicitud && solicitud.solNovacantes }}</span
                  >
                </h6>
              </div>


              <div class="col-lg-4">
                <h6 class="mb-2">
                  Sueldo Tope:<span class="text-muted"
                    > </span
                  >
                </h6>
              </div>



              <div class="col-lg-4">
                  <h6 class="mb-2">
                    Sexo:<span class="text-muted"
                      > {{ solicitud && solicitud.solGenero }}</span
                    >
                  </h6>
                </div>


                <div class="col-lg-4">
                  <h6 class="mb-2">
                    Escolaridad:<span class="text-muted"
                      > {{ solicitud && solicitud.solEscolaridad }}</span
                    >
                  </h6>
                </div>


                <div class="col-lg-4">
                  <h6 class="mb-2">
                    Equipo / Descripcion:
                    <span class="text-muted" *ngFor="let a of solicitud?.equipos">
                        {{ a.equEquipo.equNombre}} /  {{ a.equEquipo.equDescripcion}}
                       </span
                  >
                </h6>
                </div>


                <div class="col-lg-4">
                  <h6 class="mb-2">
                    Lugar entrevista:<span class="text-muted"
                      > </span
                    >
                  </h6>
                </div>

                <div class="col-lg-4">
                  <h6 class="mb-2">
                    Lugar de asignación:<span class="text-muted"
                      > </span
                    >
                  </h6>
                </div>

        </div>
      </div>


    </div>

    <div class="card  border-3 border-top border-top-success">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="text-muted">
              Datos del cliente
            </h4>
          </div>
        </div>


        <div class="row mt-2 ">
            <div class="col-lg-4">
                <h6 class>
                  Nombre:
                    <span class="text-muted" *ngFor="let a of solicitud?.percepsiones">
                        {{ solicitud?.cliCliente.cliNombre}}
                       </span
                  >
                </h6>
              </div>

              <div class="col-lg-4">
                <h6 class>
                  Razon Social:<span class="text-muted"
                    > {{ solicitud?.cliCliente.cliRazonsocial }} </span
                  >
                </h6>
              </div>

      </div>
    </div>
  </div>




  <div class="card mt-12 border-3 border-top border-top-success">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h4 class="text-muted">
            Contactos
          </h4>
        </div>
      </div>


      <div class="row ">

      <div class="col-lg-3 mt-2">
        <h6 class>
          Nombre:<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode.clcNombre }} </span
          >
        </h6>
      </div>

      <div class="col-lg-3 mt-2">
        <h6 class>
          Teléfono(s):<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode
              .clcTelefono }} </span
          >
        </h6>
      </div>


      <div class="col-lg-3 mt-2">
        <h6 class>
          Email:<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode.clcEmail}} </span
          >
        </h6>
      </div>

      <div class="col-lg-3 mt-2">
        <h6 class>
          Puesto:<span class="text-muted"
            > Gerente </span
          >
        </h6>
      </div>


      <div class="col-lg-3 mt-2">
        <h6 class>
          Nombre:<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode.clcNombre }} </span
          >
        </h6>
      </div>

      <div class="col-lg-3 mt-2">
        <h6 class>
          Teléfono(s):<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode
              .clcTelefono }} </span
          >
        </h6>
      </div>


      <div class="col-lg-3 mt-2">
        <h6 class>
          Email:<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode.clcEmail}} </span
          >
        </h6>
      </div>

      <div class="col-lg-3 mt-2">
        <h6 class>
          Puesto:<span class="text-muted"
            > Tomador de desiciones </span
          >
        </h6>
      </div>

      <div class="col-lg-3 mt-2">
        <h6 class>
          Nombre:<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode.clcNombre }} </span
          >
        </h6>
      </div>

      <div class="col-lg-3 mt-2">
        <h6 class>
          Teléfono(s):<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode
              .clcTelefono }} </span
          >
        </h6>
      </div>


      <div class="col-lg-3 mt-2">
        <h6 class>
          Email:<span class="text-muted"
            > {{ solicitud?.proProyecto.clcContactoClienteByProIdconclitode.clcEmail}} </span
          >
        </h6>
      </div>

      <div class="col-lg-3 mt-2">
        <h6 class>
          Puesto:<span class="text-muted"
            > Lider de Proyecto </span
          >
        </h6>
      </div>


</div>
</div>
</div>



<div class="card mt-12 border-3 border-top border-top-success">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="text-muted">
          Datos del proyecto
        </h4>
      </div>
    </div>


    <div class="row mt-2">
        <div class="col-lg-4">
            <h6 class>
              Nombre:<span class="text-muted"
              > {{ solicitud?.proProyecto.proNombre}} </span
            >
            </h6>
          </div>

          <div class="col-lg-4">
            <h6 class>
              Descripción:<span class="text-muted"
                > {{ solicitud?.proProyecto.proDescripcion  }} </span
              >
            </h6>
          </div>

          <div class="col-lg-4">
            <h6 class>
              Puesto:<span class="text-muted"
                > {{ solicitud?.proProyecto.proPuestoarea  }} </span
              >
            </h6>
          </div>


          <div class="col-lg-4">
            <h6 class>
              Inicio: <span class="text-muted"
                > {{ solicitud?.proProyecto.proInicio  }} </span
              >
            </h6>
          </div>

          <div class="col-lg-4">
            <h6 class>
              Observaciones: <span class="text-muted"
                > {{ segimiento?.sgsComentario }} </span
              >
            </h6>
          </div>

  </div>
</div>
</div>







<div class="card mt-12 border-3 border-top border-top-success">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="text-muted">
          Conocimientos requeridos
        </h4>
      </div>
    </div>


    <div class="row mt-2">
        <div class="col-lg-6">
            <h6 class>
              Tecnología / Nivel :
              <span class="text-muted"
              *ngFor="let item of solicitud?.conocimientos"
              > {{      item?.cotConocimientosTec.cotConocimiento}} / {{ item.socNivel }} </span
            >
            </h6>
          </div>


          <div class="col-lg-6">
            <h6 class>
              Idioma / Nivel:
              <span class="text-muted"
              *ngFor="let item of solicitud?.idiomas"
                > {{ item.idiIdioma.idiNombre  }} / {{ item.sliNivel  }}  </span
              >
            </h6>
          </div>




  </div>
</div>
</div>


<div class="card mt-12 border-3 border-top border-top-success">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="text-muted">
          Conocimientos deseables
        </h4>
      </div>
    </div>



  </div>
</div>



<div class="col-lg-12 mt-4">

    Asignación:
    <select
      id="conClientTL"
      name="conClientTL"
      class="form-control"
      [(ngModel)]="solicitud && solicitud.usrUsuarioBySolIdreclutador"
      [ngModelOptions]="{ stanalone: true }"
    >
      <option [ngValue]="null" selected>Selecciona Reclutador</option>
      <option *ngFor="let r of allUsuario" [ngValue]="r">{{
        r.usrNombreusuario
      }}</option>
    </select>
  </div>





<div class="row">
  <div class="col-lg-1">
    <button type="button" class="btn btn-primary mt-4 mr-2" (click)="updateBusiness()">Asignar</button>
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-success mt-4 mr-2" (click)="updateBusinessLider()">Nueva</button>
  </div>
  <div class="col-lg-1 mt-4 mr-2">
    <button [routerLink]="['/IndexLiderreclutamiento']" type="button" class="btn btn-danger">Atras</button>
  </div>


  </div>




</div>



