<div class="container">

    <div class="row">
      <!--Titulo del index-->
        <div class="col-lg-6 col-md-5 col-md-offset col-sm-12 mt-sm-1 mb-sm-1">
          <h6>Bienvenido {{user$ && user$.usrNombreusuario}} /Reclutamiento</h6>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12 mt-sm-1 mb-sm-1">
         <button class="btn btn-success btn-md float-right" [routerLink]="['/New-candidato']"> Nuevo <i class="fa fa-plus"></i></button>
        </div>
      </div>
      <hr>
     <!--Empieza el collapsible de los requerimientos solicitados-->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">

      <div class="card border border-bluedark">
          <div class="card-header bg-bluedark text-white">
            <h6>Requerimientos solicitados</h6>
          </div>
          <div class="card-body">

        <!--Collapsible de requerimientos prioridad alta-->
        <div class="row mb-lg-5 mb-md-5">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-sm-1 ">
              <app-prialta-reclutamiento></app-prialta-reclutamiento>
            </div>
        </div>
        <div class="row mb-lg-5 mb-md-5">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-sm-1 mt-sm-1">
              <app-primedia-reclutamiento></app-primedia-reclutamiento>
            </div>
        </div>
        <div class="row mb-lg-5 mb-md-5">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-sm-1 mt-sm-1">
              <app-pribaja-reclutamiento></app-pribaja-reclutamiento>
            </div>
       </div>

          </div>
        </div>

</div>
</div>


      <div class="mt-5"></div>


      <!--Tarjeta con los candidatos divididos por sus estatus-->
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card border border-purple">
                  <div class="card-header bg-purple text-white">
                   <h6>Candidatos</h6>
                  </div>
                  <!--Cuerpo de la tarjeta-->
                  <div class="card-body">
                     <!--Estatus validados por ti-->
                      <div class="row mb-lg-6 mt-lg-6 mb-md-2 mt-md-2 mt-sm-1 mb-sm-1 ">
                          <div class="col-lg-12 col-md-12 col-sm-12 mt-sm-1 mb-sm-1">
                              <app-candivali-reclutamiento></app-candivali-reclutamiento>
                          </div>
                      </div>
                    <!--Estatus rechazados por ti-->
                      <div class="row mb-lg-6 mt-lg-6 mb-md-2 mt-md-2 mt-sm-1 mb-sm-1 ">
                          <div class="col-lg-12 col-md-12 col-sm-12 mt-sm-1 mb-sm-1">
                              <app-candirecha-reclutamiento></app-candirecha-reclutamiento>
                          </div>
                      </div>
                        <!--Rechazado por el cliente-->
                      <div class="row mb-lg-6 mt-lg-6 mb-md-2 mt-md-2 mt-sm-1 mb-sm-1">
                          <div class="col-lg-12 col-md-12 col-sm-12 mt-sm-1 mb-sm-1">
                              <app-rechaclien></app-rechaclien>

                          </div>
                      </div>
                    <!--Solicitud 2da opcion para un requerimiento-->
                      <div class="row mb-lg-6 mt-lg-6 mb-md-2 mt-md-2 mt-sm-1 mb-sm-1">
                          <div class="col-lg-12 col-md-12 col-sm-12 mt-sm-1 mb-sm-1">
                              <app-solicitud2-reclutamiento></app-solicitud2-reclutamiento>
                          </div>
                      </div>


                        </div>



                  </div>
                </div>
          </div>
        </div>

