<div class="container">

    <div class="row">
        <div class="col-lg-6 col-md-5 col-md-offset col-sm-12 mt-sm-1 mb-sm-1">
          <h6>Bienvenido {{user$ && user$.usrNombreusuario}} /Reclutamiento</h6>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12 mt-sm-1 mb-sm-1">
         <button class="btn btn-success btn-md float-right" [routerLink]="['/New-candidato']"> Nuevo <i class="fa fa-plus"></i></button>
        </div>
      </div>
      <hr>

  <div class="row mb-lg-6 mt-lg-6 mb-md-2 mt-md-2 mt-sm-1 mb-sm-1">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <app-prialta-reclutamiento></app-prialta-reclutamiento>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mt-sm-1 mb-sm-1">
      <app-primedia-reclutamiento></app-primedia-reclutamiento>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mt-sm-1 mb-sm-1">
      <app-pribaja-reclutamiento></app-pribaja-reclutamiento>
    </div>
  </div>

  <div class="row mb-lg-5 mt-lg-5 mb-md-2 mt-md-2 ">
    <div class="col-lg-6 col-md-6 col-sm-12 mt-sm-1 mb-sm-1">
      <app-candirecha-reclutamiento></app-candirecha-reclutamiento>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mt-sm-1 mb-sm-1">
      <app-candivali-reclutamiento></app-candivali-reclutamiento>
    </div>
  </div>

  <div class="row mb-lg-5 mt-lg-5 mb-md-2 mt-md-2">
    <div class="col-lg-6 col-md-6 col-sm-12 mt-sm-1 mb-sm-1">
      <app-solicitud2-reclutamiento></app-solicitud2-reclutamiento>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mt-sm-1 mb-sm-1">
      <app-rechacli-reclutamiento></app-rechacli-reclutamiento>
    </div>
  </div>


</div>
