<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-md-offset col-sm-12">
        <h6>Bienvenido $Username / Reclutamiento</h6>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12">
       <!-- <button class="btn btn-success btn-sm" [routerLink]="['/Candidato']"> Nuevo</button> -->
      </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
        <app-prialta-reclutamiento></app-prialta-reclutamiento>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
        <app-primedia-reclutamiento></app-primedia-reclutamiento>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <app-pribaja-reclutamiento></app-pribaja-reclutamiento>
        </div>
      </div>

<br>
<br>
<br>

      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
          <app-candirecha-reclutamiento></app-candirecha-reclutamiento>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
          <app-candivali-reclutamiento></app-candivali-reclutamiento>
          </div>
<br>
<br>

          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
             <app-solicitud2-reclutamiento></app-solicitud2-reclutamiento>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <app-rechacli-reclutamiento></app-rechacli-reclutamiento>
              </div>


</div>
