
<!-- Titulo principal-->
<div class="container">
  <h4>Cliente</h4>
  <hr />
<!--Empieza el card donde se encunentra la tabla-->
  <div class="card" style="width: 100%;">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 clearfix">
          <div class="float-left align-baseline" style="margin: 0 !important;padding:0 important;">
          <i class="fas fa-table" style="font-size: 15px;"> Catálogo cliente</i>
        </div>
        <div class="float-right align-baseline " style="margin: 0 !important;padding:0 important;"
        *ngIf="authservice.hasRole('ROLE_ADMIN')">
            <app-create-cliente></app-create-cliente>
        </div>
      </div>
      </div>
    </div>
<!--Términa el titulo del card-->

<!-- Empieza el contenido del card-->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">

        <!--La tabla-->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <table id="dataTable" datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Razon Social</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let a of allCliente">
                  <th scope="row">{{ a.cliIdcliente }}</th>
                  <td>{{ a.cliNombre }}</td>
                  <td>{{ a.cliRazonsocial }}</td>

                  <td class="text-center" >

                    <i style="color:#007bff; margin-right:20px;"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Editar"
                      class="fas fa-pencil-alt"
                      [routerLink]="['/EditCliente', a.cliIdcliente]"
                      *ngIf="authservice.hasRole('ROLE_ADMIN')"></i>

                      <i style="color:#dc3545;"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Eliminar"
                      class="fas fa-trash-alt"
                      (click)="deleteBusiness(a.cliIdcliente, a.cliNombre)"
                      *ngIf="authservice.hasRole('ROLE_ADMIN')"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
