<!-- 
<button mz-button (click)="basicModal.openModal()">
  Nuevo
</button>
<div class="container">
<table class="highlight">
<thead>
  <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Modificar</th>
      <th>Eliminar</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let a of arrayAreas">
    <td> {{a.cliIdcliente}}</td>
    <td>{{a.cliNombre}}</td>
    <td>{{a.cliRazonsocial}}</td>
    <td><button mz-button >
      Editar
    </button></td>
    <td><button mz-button>
      Eliminar
    </button></td>
  </tr>

</tbody>
</table>
</div>

<div > -->
<!-- <mz-modal #basicModal>
    <mz-modal-header>
      <h4>Agregar Cliente</h4>
    </mz-modal-header>
    <mz-modal-content>
      <form [formGroup]="angForm">

        <label > Cliente</label>
        <input type="text" class="form-control" formControlName="cliNombre" #cliNombre/>
        <input type="text" class="form-control" formControlName="cliRazonsocial" #cliRazonsocial/>


      </form>
    </mz-modal-content>
    <mz-modal-footer>
      <button mz-button [flat]="true"
       role="button" (click)='addcliente(cliNombre.value)'
       (click)='addcliente(cliRazonsocial.value)'
       mz-modal-close>Guardar</button>
      <button mz-button [flat]="true" mz-modal-close>Cancelar</button>
    </mz-modal-footer>
  </mz-modal>
</div> -->