<h4>Requerimientos <i class="fas fa-wallet fa-sm text-success"></i></h4> <!-- Titulo de los requerimientos-->
<!--Carta principal del seguimiento de los requerimietos-->
<div class="card mt-4 border-3 border-top border-top-success shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <h5 class="text-muted">
        Seguimiento
      </h5>
      </div>
    </div>

    <!--Carta de pendiente validación-->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card mt-2 border-2 border-top border-top-warning shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h6>Pendiente de validacion</h6>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-alta-pend-ti></app-alta-pend-ti>
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-media-pend-ti></app-media-pend-ti>
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-baja-pend-ti></app-baja-pend-ti>
           </div>
        </div>
      </div>
    </div>
    </div>
  </div>  <!--Términa la carta de pendiente validación-->

      <!--Carta de rechazados validación-->
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card mt-2 border-2 border-top border-top-danger shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <h6>Rechazados por TI</h6>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                   <app-alta-recha-ti></app-alta-recha-ti>
               </div>
            </div>
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                   <app-media-recha-ti></app-media-recha-ti>
               </div>
            </div>
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                   <app-baja-recha-ti></app-baja-recha-ti>
               </div>
            </div>
          </div>
        </div>
        </div>
      </div>  <!--Términa la carta de rechazados validación-->

   <!--Carta de requerimientos Validados TI-->
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card mt-4 border-2 border-top border-top-primary shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h6>Validadas por TI</h6>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                  <app-alta-val-ti></app-alta-val-ti>
               <!-- <app-alta-pend-ti></app-alta-pend-ti> -->
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-media-val-ti></app-media-val-ti>
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-baja-val-ti></app-baja-val-ti>
           </div>
        </div>
      </div>


    </div>
    </div>
  </div>  <!--Términa la carta de pendiente validación-->

  <!--Carta de pendiente de asignar por coordinador Reclutamiento-->
  <!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card mt-4 border-2 border-top border-top-warning shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h6>Pendiente de asignar / Coordinador Reclutamiento</h6>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-alta-pend-ti></app-alta-pend-ti>
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-media-pend-ti></app-media-pend-ti>
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-baja-pend-ti></app-baja-pend-ti>
           </div>
        </div>
      </div>


    </div>
    </div>
  </div>  Términa la carta de pendiente asignar coordinador de reclutamiento -->

     <!--Carta de requerimientos Asignados-->
     <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card mt-4 border-2 border-top border-top-success shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h6>Asignadas</h6>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                    <app-alta-asignadas></app-alta-asignadas>
             </div>
          </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                 <app-media-asignadas></app-media-asignadas>
             </div>
          </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                 <app-baja-asignadas></app-baja-asignadas>
             </div>
          </div>
        </div>


      </div>
      </div>
    </div>  <!--Términa la carta de asignadas de requerimientos-->

    <!--Carta de pendiente de respuesta -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card mt-2 border-2 border-top border-top-warning shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h6>Pendiente de Respuesta cliente</h6>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
               <app-alta-pend-respuesta></app-alta-pend-respuesta>
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                  <app-media-pend-respuesta></app-media-pend-respuesta>
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                  <app-baja-pend-respuesta></app-baja-pend-respuesta>
           </div>
        </div>
      </div>
    </div>
    </div>
  </div>  <!--Términa la carta de pendiente de respuesta-->

   <!--Carta de requerimientos aceptados cliente-->
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card mt-4 border-2 border-top border-top-success shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h6>Aceptados cliente</h6>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                  <app-alta-acep-cliente></app-alta-acep-cliente>
          </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                  <app-media-acep-cliente></app-media-acep-cliente>
           </div>
        </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                  <app-baja-acep-cliente></app-baja-acep-cliente>
           </div>
        </div>
      </div>


    </div>
    </div>
  </div>  <!--Términa la carta de aceptados cliente-->

       <!--Carta de perdidos-->
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card mt-2 border-2 border-top border-top-danger shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h6>Perdidos</h6>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                 <app-alta-perdidos></app-alta-perdidos>
             </div>
          </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                    <app-media-perdidos></app-media-perdidos>
             </div>
          </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                    <app-baja-perdidos></app-baja-perdidos>
                </div>
          </div>
        </div>
      </div>
      </div>
    </div>  <!--Términa la carta de perdidos-->


  </div>
</div> <!--Términa la carta principal de los requerimientos-->



<!--Carta principal de los requerimientos (Seguimiento)-->
<div class="card mt-4 border-3 border-top border-top-success">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card mt-3 border-2 border-top border-top-warning">

      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requeriasignadaback></app-requeriasignadaback>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requericanceback></app-requericanceback>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requerienesperaback></app-requerienesperaback>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requeripendiresback></app-requeripendiresback>
      </div>



      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requeriperdidaback></app-requeriperdidaback>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requeriporasigback></app-requeriporasigback>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requerirechatiback></app-requerirechatiback>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requerisegundaopback></app-requerisegundaopback>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
          <app-requerivaliback></app-requerivaliback>
      </div>




    </div>

  </div>
</div>


<div class="accordion" id="accordionExample">
  <div class="card border border-success">
    <div class="card-header bg-success" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link text-white"
          type="button"
          data-toggle="collapse"
          data-target="#collapseRequerimiento"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Requerimientos
        </button>
      </h5>
    </div>

    <div
      id="collapseRequerimiento"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <table id="dataTable" datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
              <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Estatus</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let s of allSolicitud">
                  <th scope="row">{{ s.sgsFecha }}</th>
                  <td>{{ s.solSolicitud?.cliCliente.cliNombre }}</td>
                  <td>{{ s.estEstatusSolicitud.estDescripcion }}</td>


                </tr>
              </tbody>
            </table>
          </div>
        </div>





      </div>
    </div>
  </div>
</div>
