<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/img/ns.png" id="icon" alt="User Icon" />
      <h1>{{ titulo }}</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input [(ngModel)]="usuario && usuario.usrUsername" type="text" id="login" class="fadeIn second" name="login" placeholder="username">
      <input [(ngModel)]="usuario && usuario.usrPassword" type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input (click)="login()" type="submit" class="fadeIn fourth" value="Log In">
    </form>


  </div>
</div>
