.bg-light{
  background-color:#3c8dbc !important;
}

.nav-link{
color: #fffdf9 !important;
z-index: 999 !important;
}

.navbar{
  z-index: 999 !important;
}

.page-wrapper{
  background-color:#ecf0f5 !important;
}
.page-content{
  background-color:#ecf0f5 !important;

}
