
<div class="page-wrapper chiller-theme toggled">

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top " style="z-index:999; height: 50px !important;">

      <div class="sidebar-brand">
          <!-- <div id="close-sidebar" class="btn btn-sm btn-light">
              <i class="fas fa-bars"></i>
          </div> -->
          <a class="btn btn-lg text-light" href="/Inicio"><b> RECLUTAMIENTO</b></a>

            <a id="close-sidebar" class="btn btn-sm btn-link" style="color:#fff;">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <!-- <a id="close-sidebar" class="btn btn-sm btn-light">
            <i class="fas fa-bars"></i>
        </a> -->

        <form class="form-inline my-2 my-lg-0 ml-auto">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')">
                    <button type="button" style="color:#fff!important;font-weight: 500!important;" class="btn  btn-link" routerLink="/Area" >Inicio </button>
                </li>
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_COMERCIAL')">
                    <button type="button"style="color:#fff!important;font-weight: 500!important;" class="btn  btn-link" routerLink="/IndexComercial" >Inicio </button>
                </li>
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_RECLUTADOR')">
                    <button type="button"style="color:#fff!important;font-weight: 500!important;" class="btn btn-link" routerLink="/IndexReclutamiento" >Inicio </button>
                </li>
                <li class="nav-item" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_LIDERRECLU')">
                      <!-- <a  class="nav-link btn btn-outline-primary" routerLink="/IndexLiderreclutamiento" >Inicio </a> -->
                      <button type="button"style="color:#fff!important;font-weight: 500!important;" class="btn btn-link" routerLink="/IndexLiderreclutamiento">Inicio</button>
                </li>
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_VALIDACION')">
                    <button type="button"style="color:#fff!important;font-weight: 500!important;" class="btn btn-link" routerLink="/IndexTiValidacion" >Inicio </button>
                </li>
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_BACKOFFICE')">
                    <button type="button" style="color:#fff!important;font-weight: 500!important;"class="btn btn-link" routerLink="/IndexBackoffice" >Inicio </button>
                </li>

                <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                    <button type="button"style="color:#fff!important;font-weight: 500!important;" class="btn btn-link" routerLink="/login" >Login</button>
                </li>
                <li class="nav-item offset-md-1" *ngIf="authService.isAuthenticated()">
                    <button type="button"style="color:#fff!important;font-weight: 500!important;" class="btn btn-link" (click)="Salir()" >Salir</button>
                </li>
              </ul>
        </form>
    </nav>

    <nav id="sidebar" class="sidebar-wrapper" >
        <app-navbar></app-navbar>
    </nav>



    <!-- sidebar-wrapper  -->
    <main class="page-content" >
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
    <!-- page-content" -->

</div>
