
<div class="page-wrapper chiller-theme toggled">

    <nav id="sidebar" class="sidebar-wrapper" style="z-index: 999;">
        <app-navbar></app-navbar>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" styles="z-index:999;">
        <form class="form-inline my-2 my-lg-0 ml-auto">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')">
                    <button type="button" class="btn btn-outline-primary" routerLink="/Area" >Home </button>
                </li>
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_COMERCIAL')">
                    <button type="button" class="btn btn-outline-primary" routerLink="/IndexComercial" >Home </button>
                </li>
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_RECLUTADOR')">
                    <button type="button" class="btn btn-outline-primary" routerLink="/IndexReclutamiento" >Home </button>
                </li>
                <li class="nav-item" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_LIDERRECLU')">
                      <!-- <a  class="nav-link btn btn-outline-primary" routerLink="/IndexLiderreclutamiento" >Home </a> -->
                      <button type="button" class="btn btn-outline-primary" routerLink="/IndexLiderreclutamiento">Home</button>
                </li>
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_VALIDACION')">
                    <button type="button" class="btn btn-outline-primary" routerLink="/IndexTiValidacion" >Home </button>
                </li>
                <li class="nav-item active" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_BACKOFFICE')">
                    <button type="button" class="btn btn-outline-primary" routerLink="/IndexBackoffice" >Home </button>
                </li>

                <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                    <button type="button" class="btn btn-outline-primary" routerLink="/login" >Login</button>
                </li>
                <li class="nav-item offset-md-1" *ngIf="authService.isAuthenticated()">
                    <button type="button" class="btn btn-outline-secondary" (click)="logout()" >Logout</button>
                </li>
              </ul>
        </form>
    </nav>

    <!-- sidebar-wrapper  -->
    <main class="page-content" >
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
    <!-- page-content" -->

</div>
