<div>
  <!-- Accordion wrapper -->
  <div
    class="accordion l-accordion accordion-12"
    id="accordionEx2"
    role="tablist"
    aria-multiselectable="false"
  >
    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div
        class="card-header z-depth-1 teal lighten-4"
        role="tab"
        id="heading10"
      >
        <a
          data-toggle="collapse"
          data-parent="#accordionEx2"
          href="#collapse10"
          aria-expanded="false"
          aria-controls="collapse10"
        >
          <h6 class="mb-0 black-text font-weight-bold">
            Datos del requerimiento
          </h6>
        </a>
      </div>

      <!-- Card body -->
      <div
        id="collapse10"
        class="collapse show"
        role="tabpanel"
        aria-labelledby="heading10"
        data-parent="#accordionEx2"
      >
        <div class="card-body rgba-teal-strong white-text">
          <!-- Select Basic -->
          <div class="row">
            <div class="form-group">
              <label class="col-md-12 control-label" for="requerimiento"
                >Tipo Requerimiento</label
              >
              <div class="col-md-12">
                <select
                  [(ngModel)]="requerimiento"
                  class="form-control"
                  id="requerimiento"
                  name="requerimiento"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option [ngValue]="null" selected>Selecciona uno</option>
                  <option *ngFor="let c of allAreas" [ngValue]="c">{{
                    c.arnTipo
                  }}</option>
                </select>
              </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="prioridad"
                >Prioridad</label
              >
              <div class="col-md-12">
                <select
                  [(ngModel)]="prioridad"
                  id="prioridad"
                  name="prioridad"
                  [ngModelOptions]="{ stanalone: true }"
                  class="form-control"
                >
                  <option [ngValue]="null">Selecciona uno</option>
                  <option *ngFor="let item of allPrioridad" [ngValue]="item">{{
                    item.priNombre
                  }}</option>
                </select>
              </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="presupuesto"
                >Presupuesto</label
              >
              <div class="col-md-12">
                <select
                  id="presupuesto"
                  name="presupuesto"
                  class="form-control"
                >
                  <option value="">Selecciona uno</option>
                  <option value="s">Si</option>
                  <option value="n">No</option>
                </select>
              </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="vacante"
                >Tipo Vacante</label
              >
              <div class="col-md-12">
                <select
                  id="vacante"
                  name="vacante"
                  class="form-control"
                  [(ngModel)]="vacante"
                  [ngModelOptions]="{ stanalone: true }"
                >
                  <option [ngValue]="null">Selecciona una</option>
                  <option *ngFor="let item of allVacantes" [ngValue]="item">{{
                    item.tvaTipo
                  }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div
        class="card-header z-depth-1 teal lighten-3"
        role="tab"
        id="heading11"
      >
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordionEx2"
          href="#collapse11"
          aria-expanded="false"
          aria-controls="collapse11"
        >
          <h6 class="mb-0 black-text font-weight-bold">Datos Cliente</h6>
        </a>
      </div>

      <!-- Card body -->
      <div
        id="collapse11"
        class="collapse"
        role="tabpanel"
        aria-labelledby="heading11"
        data-parent="#accordionEx2"
      >
        <div class="card-body rgba-teal-strong white-text">
          <div class="row">
            <div class="form-group">
              <label class="col-md-12 control-label" for="cliente"
                >Cliente</label
              >
              <div class="col-md-12">
                <select
                  [(ngModel)]="cliente"
                  [ngModelOptions]="{ stanalone: true }"
                  id="cliente"
                  name="cliente"
                  class="form-control"
                >
                  <option [ngValue]="null">Selecciona Cliente</option>
                  <option *ngFor="let c of allClientes" [ngValue]="c"
                    >{{c.cliNombre}}</option
                  >
                </select>
              </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group" *ngIf="cliente">
              <label class="col-md-12 control-label" for="clcCliente"
                >Contacto</label
              >
              <div class="col-md-12">
                <select id="clcCliente" name="clcCliente" class="form-control" [(ngModel)]="contactoCliente"
                [ngModelOptions]="{ stanalone: true }">
                  <option [ngValue]="null">Selecciona Contacto</option>
                  <option *ngFor="let clc of cliente.contactos" [ngValue]="clc">{{clc.clcNombre}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="contactoCliente">
                <i
                  style="color:#dc3545;"
                  data-toggle="tooltip"
                  data-placement="center"
                  title="Agregar"
                  class="fas fa-plus"
                  (click)="add()"
                ></i>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div
        class="card-header z-depth-1 teal lighten-2"
        role="tab"
        id="heading12"
      >
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordionEx2"
          href="#collapse12"
          aria-expanded="false"
          aria-controls="collapse12"
        >
          <h6 class="mb-0 black-text font-weight-bold">Datos del proyecto</h6>
        </a>
      </div>

      <!-- Card body -->
      <div
        id="collapse12"
        class="collapse"
        role="tabpanel"
        aria-labelledby="heading12"
        data-parent="#accordionEx2"
      >
        <div class="card-body rgba-teal-strong white-text">
          <div class="row">
            <!-- Text input -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="proyecto"
                >Nombre del proyecto</label
              >
              <div class="col-md-12">
                <input
                  id="proyecto"
                  name="proyecto"
                  type="text"
                  placeholder="nombre del proyecto"
                  class="form-control input-md"
                  required=""
                />
              </div>
            </div>

            <!-- Text input -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="Puesto">Puesto</label>
              <div class="col-md-12">
                <input
                  id="Puesto"
                  name="Puesto"
                  type="text"
                  placeholder="Puesto del proyecto"
                  class="form-control input-md"
                />
              </div>
            </div>

            <!-- Text input -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="duracion"
                >Duración proyecto</label
              >
              <div class="col-md-12">
                <input
                  id="duracion"
                  name="duracion"
                  type="text"
                  placeholder=""
                  class="form-control input-md"
                />
              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="jornada"
                >Jornada Laboral</label
              >
              <div class="col-md-12">
                <select id="jornada" name="jornada" class="form-control">
                  <option value="1">Selecciona una</option>
                  <option *ngFor="let item of allJornada" [ngValue]=item>{{item.jolTipo}}</option>
                </select>
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="descripcion"
                >Descripción</label
              >
              <div class="col-md-12">
                <textarea
                  class="form-control"
                  id="descripcion"
                  name="descripcion"
                >Descripción del proyecto</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div
        class="card-header z-depth-1 teal lighten-1"
        role="tab"
        id="heading13"
      >
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordionEx2"
          href="#collapse13"
          aria-expanded="true"
          aria-controls="collapse13"
        >
          <h6 class="mb-0 black-text font-weight-bold">
            Conocimiento requeridos
          </h6>
        </a>
      </div>

      <!-- Card body -->
      <div
        id="collapse13"
        class="collapse"
        role="tabpanel"
        aria-labelledby="heading13"
        data-parent="#accordionEx2"
      >
        <div class="card-body rgba-teal-strong white-text">
          <div class="row">
            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="idioma">Idioma</label>
              <div class="col-md-12">
                <select id="idioma" name="idioma" class="form-control">
                  <option value="1">Selecciona uno</option>
                  <option *ngFor="let item of allIdiomas" [ngValue]="item">{{item.idiNombre}}</option>
                </select>
              </div>
            </div>

            <!-- Text input -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="nivel">Nivel</label>
              <div class="col-md-12">
                <input
                  id="nivel"
                  name="nivel"
                  type="text"
                  placeholder=""
                  class="form-control input-md"
                />
              </div>
            </div>
            <div>
              <i
                style="color:#dc3545;"
                data-toggle="tooltip"
                data-placement="center"
                title="Agregar"
                class="fas fa-plus"
                (click)="add()"
              ></i>
            </div>
          </div>
          <!-- Select Basic -->
          <div class="row">
            <div class="form-group">
              <label class="col-md-12 control-label" for="conocimiento"
                >Conocimiento</label
              >
              <div class="col-md-12">
                <select
                  id="conocimiento"
                  name="conocimiento"
                  class="form-control"
                >
                  <option [ngValue]="null">Option one</option>
                  <option *ngFor="let cono of allConocimiento" [ngValue]="cono">{{cono.cotConocimientos}}</option>
                </select>
              </div>
            </div>

            <!-- Text input -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="nivel">Nivel</label>
              <div class="col-md-12">
                <input
                  id="nivel"
                  name="nivel"
                  type="text"
                  placeholder=""
                  class="form-control input-md"
                />
              </div>
            </div>
          </div>
          <!-- Select Basic -->
          <div class="row">
            <div class="form-group">
              <label class="col-md-12 control-label" for="habilidades"
                >Habilidades</label
              >
              <div class="col-md-12">
                <select
                  id="habilidades"
                  name="habilidades"
                  class="form-control"
                >
                  <option [ngValue]="null">Selecciona uno</option>
                  <option *ngFor="let hab of allHabilidades">{{hab.cohDescripcion}}</option>
                </select>
              </div>
            </div>

            <!-- Text input -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="nivel">Nivel</label>
              <div class="col-md-12">
                <input
                  id="nivel"
                  name="nivel"
                  type="text"
                  placeholder=""
                  class="form-control input-md"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Accordion card -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header z-depth-1 teal" role="tab" id="heading14">
          <a
            class="collapsed"
            data-toggle="collapse"
            data-parent="#accordionEx2"
            href="#collapse14"
            aria-expanded="false"
            aria-controls="collapse14"
          >
            <h6 class="mb-0 black-text font-weight-bold">
              Conocimientos adicionales
            </h6>
          </a>
        </div>

        <!-- Card body -->
        <div
          id="collapse14"
          class="collapse"
          role="tabpanel"
          aria-labelledby="heading14"
          data-parent="#accordionEx2"
        >
          <div class="card-body rgba-teal-strong white-text">
            <div class="row">
              <!-- Select Basic -->
              <div class="form-group">
                <label class="col-md-12 control-label" for="habilidades"
                  >Conocimiento</label
                >
                <div class="col-md-12">
                  <select
                    id="habilidades"
                    name="habilidades"
                    class="form-control"
                  >
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                  </select>
                </div>
              </div>

              <!-- Text input -->
              <div class="form-group">
                <label class="col-md-12 control-label" for="nivel">Nivel</label>
                <div class="col-md-12">
                  <input
                    id="nivel"
                    name="nivel"
                    type="text"
                    placeholder=""
                    class="form-control input-md"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
      <!-- Accordion card -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header z-depth-1 teal" role="tab" id="heading15">
          <a
            class="collapsed"
            data-toggle="collapse"
            data-parent="#accordionEx2"
            href="#collapse15"
            aria-expanded="false"
            aria-controls="collapse15"
          >
            <h6 class="mb-0 black-text font-weight-bold">Percepciones</h6>
          </a>
        </div>

        <!-- Card body -->
        <div
          id="collapse15"
          class="collapse"
          role="tabpanel"
          aria-labelledby="heading15"
          data-parent="#accordionEx2"
        >
          <div class="card-body rgba-teal-strong white-text">
            <div class="row">
              <!-- Select Basic -->
              <div class="form-group">
                <label class="col-md-12 control-label" for="percepcion"
                  >Tipo de percepción</label
                >
                <div class="col-md-12">
                  <select
                    id="percepcion"
                    name="percepcion"
                    class="form-control"
                  >
                    <option [ngValue]="null">Selecciona una</option>
                    <option *ngFor="let per of allPercepciones" [ngValue]="per">{{per.preTipo}}</option>
                  </select>
                </div>
              </div>

              <!-- Text input -->
              <div class="form-group">
                <label class="col-md-12 control-label" for="descripcion"
                  >Descripción</label
                >
                <div class="col-md-12">
                  <input
                    id="descripcion"
                    name="descripcion"
                    type="text"
                    placeholder=""
                    class="form-control input-md"
                  />
                </div>
              </div>

              <!-- Text input -->
              <div class="form-group">
                <label class="col-md-12 control-label" for="valor">Valor</label>
                <div class="col-md-12">
                  <input
                    id="valor"
                    name="valor"
                    type="text"
                    placeholder=""
                    class="form-control input-md"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Accordion wrapper -->
  </div>
  <div class="row">
    <button
      type="button"
      class="btn btn-success"
      data-dismiss="modal"
      role="button"
      (click)="addSolicitud()"
    >
      Guardar
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">
      Borrador
    </button>
  </div>
</div>
