<div class="card">
    <div class="card-header">
      <div class="row">
        <h5>Nueva Solicitud</h5>
        <div class="col-md-2 offset-md-4">
          <button
            type="button"
            class="btn btn-success"
            data-dismiss="modal"
            role="button"
            (click)="addSolicitud()"
          >
            Guardar <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </div>
        <!-- <div class="col-md-2">
          <button type="button"
          class="btn btn-primary"
          >
            Borrador <i class="fa fa-broom" aria-hidden="true"></i>
          </button>
        </div> -->
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            [routerLink]="['/IndexComercial']"
          >
            Cancelar <i class="fas fa-backspace"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div>
        <!-- Accordion wrapper -->
        <div
          class="accordion l-accordion accordion-12"
          id="accordionEx2"
          role="tablist"
          aria-multiselectable="false"
        >
          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div
              class="card-header z-depth-1 teal lighten-4"
              role="tab"
              id="heading10"
            >
              <a
                data-toggle="collapse"
                data-parent="#accordionEx2"
                href="#collapse10"
                aria-expanded="false"
                aria-controls="collapse10"
              >
                <h6 class="mb-0 black-text font-weight-bold">
                  Datos del requerimiento
                </h6>
              </a>
            </div>

            <!-- Card body -->
            <div
              id="collapse10"
              class="collapse show"
              role="tabpanel"
              aria-labelledby="heading10"
              data-parent="#accordionEx2"
            >
              <div class="card-body rgba-teal-strong white-text">
                <!--Forms de detaos requerimiento para validaciones-->
                <!-- Select Basic -->
                <div class="row">
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="requerimiento"
                      >Área de negocio</label
                    >
                    <div class="col-md-12">
                      <select
                        [(ngModel)]="requerimiento"
                        class="form-control form-control-sm"
                        name="requerimiento"
                        required
                        #select1="ngModel"
                      >
                        <option [ngValue]="null" selected>Selecciona uno</option>
                        <option *ngFor="let r of allAreas" [ngValue]="r">{{
                          r.arnTipo
                        }}</option>
                      </select>
                      <span *ngIf="select1.invalid && select1.touched"
                        class="text-white bg-danger">
                                  El campo es requerido</span>
                    </div>
                  </div>
                  <!-- Select Basic -->
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="prioridad"
                      >Prioridad</label
                    >
                    <div class="col-md-12">
                      <select
                        [(ngModel)]="prioridad"
                        class="form-control form-control-sm"
                        name="prioridad"
                        required
                        #select2="ngModel"

                      >
                        <option [ngValue]="null" selected>Selecciona uno</option>
                        <option
                          *ngFor="let item of allPrioridad"
                          [ngValue]="item"
                          >{{ item.priNombre }}</option
                        >
                      </select>

                      <span *ngIf="select2.invalid && select2.touched"
                      class="text-white bg-danger">
                      El campo es requerido</span>

                    </div>
                  </div>
                  <!-- Select Basic -->
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="presupuesto"
                      >Presupuesto</label
                    >
                    <div class="col-md-12">
                      <select
                      [(ngModel)]="presupuesto"
                      class="form-control form-control-sm"
                      name="presupuesto"
                      required
                        #select3="ngModel"
                      >
                        <option [ngValue]="" selected="true"
                          >Selecciona uno</option
                        >
                        <option value="S">Si</option>
                        <option value="N">No</option>
                      </select>


                      <span *ngIf="select3.invalid && select3.touched"
                      class="text-white bg-danger">
                      El campo es requerido</span>


                    </div>
                  </div>
                  <!-- Select Basic -->
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="vacante"
                      >Tipo Vacante</label
                    >
                    <div class="col-md-12">
                      <select
                      [(ngModel)]="vacante"
                      class="form-control form-control-sm"
                      name="vacante"
                      required
                      #select4="ngModel"
                      >
                        <option [ngValue]="null" selected>Selecciona una</option>
                        <option
                          *ngFor="let item of allVacantes"
                          [ngValue]="item"
                          >{{ item.tvaTipo }}</option
                        >
                      </select>

                      <span *ngIf="select4.invalid && select4.touched"
                      class="text-white bg-danger">
                        El campo es requerido</span>


                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="perfil"
                      >Tipo perfil</label
                    >
                    <div class="col-md-12">
                      <select
                        [(ngModel)]="perfil"
                        class="form-control form-control-sm"
                        name="perfil"
                        required
                        #select5="ngModel"
                      >
                        <option [ngValue]="null" selected>Selecciona uno</option>
                        <option *ngFor="let p of allPerfiles" [ngValue]="p">{{
                          p.perPerfil
                        }}</option>
                      </select>

                      <span *ngIf="select5.invalid && select5.touched"
                      class="text-white bg-danger">
                      El campo es requerido</span>

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="genero"
                      >Sexo</label
                    >
                    <div class="col-md-12">
                      <select
                        [(ngModel)]="genero"
                        class="form-control form-control-sm"
                        name="genero"
                        required
                        #select6="ngModel"
                      >
                        <option selected>Selecciona uno</option>
                        <option value="I">Indistinto</option>
                        <option value="H">Hombre</option>
                        <option value="M">Mujer</option>
                      </select>

                      <span *ngIf="select6.invalid && select6.touched"
                      class="text-white bg-danger">
                      El campo es requerido</span>


                    </div>
                  </div>
                  <!-- Text input -->
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="escolaridad"
                      >Escolaridad</label
                    >
                    <div class="col-md-12">
                      <input
                        type="text"
                        placeholder="Grado escolar"
                        class="form-control input-md form-control-sm"
                        required
                        [(ngModel)]="escolaridad"
                        maxlength="50"
                        pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$"
                        #var1="ngModel"
                      />
                      <span *ngIf="var1.valid && var1.touched"
                      class="text-white bg-danger">
                        El campo es requerido ó solo acepta letras.
                      </span>

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="solEdadincial">Edad Inicial</label>
                    <div class="col-md-12">
                      <select
                        [(ngModel)]="solEdadincial"
                        class="form-control form-control-sm"
                        name="solEdadincial"
                        required
                        #select7="ngModel"
                      >
                        <option [ngValue]="null" selected>Selecciona uno</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="30">30</option>
                        <option [ngValue]="35">35</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="45">45</option>
                      </select>

                      <span *ngIf="select7.invalid && select7.touched"
                            class="text-white bg-danger">
                          El campo es requerido</span>

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-12 control-label" for="edad">Edad Final  </label>
                    <div class="col-md-12">
                      <select
                      [(ngModel)]="solEdadfinal"
                      class="form-control form-control-sm"
                      name="solEdadfinal"
                      required
                      #select8="ngModel"
                    >
                      <option [ngValue]="null" selected>Selecciona uno</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="30">30</option>
                      <option [ngValue]="35">35</option>
                      <option [ngValue]="40">40</option>
                      <option [ngValue]="45">45</option>
                      <option [ngValue]="50">50</option>
                    </select>
                    <span *ngIf="select8.invalid && select8.touched"
                      class="text-white bg-danger">
                      El campo es requerido</span>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div
              class="card-header z-depth-1 teal lighten-3"
              role="tab"
              id="heading11"
            >
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordionEx2"
                href="#collapse11"
                aria-expanded="false"
                aria-controls="collapse11"
              >
                <h6 class="mb-0 black-text font-weight-bold">Datos Cliente</h6>
              </a>
            </div>

            <!-- Card body -->
            <div
              id="collapse11"
              class="collapse"
              role="tabpanel"
              aria-labelledby="heading11"
              data-parent="#accordionEx2"
            >
              <div class="card-body rgba-teal-strong white-text">
                <div class="row">
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="cliente"
                      >Cliente</label
                    >
                    <div class="col-md-12">
                      <select
                        [(ngModel)]="cliente"
                        class="form-control form-control-sm"
                        name="cliente"
                       required
                       #select9="ngModel"
                      >
                        <option [ngValue]="null" selected
                          >Selecciona Cliente</option
                        >
                        <option *ngFor="let c of allClientes" [ngValue]="c">{{
                          c.cliNombre
                        }}</option>
                      </select>

                      <span *ngIf="select9.invalid && select9.touched"
                      class="text-white bg-danger">
                      El campo es requerido</span>

                    </div>
                  </div>
                  <!-- Select Basic -->
                  <div class="form-group" *ngIf="cliente">
                    <label class="col-md-12 control-label" for="clcCliente"
                      ><b>Contactos</b></label
                    >
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="conClientG"
                        >Contacto gerente</label
                      >
                      <div class="col-md-12">
                        <select
                        [(ngModel)]="conClientG"
                        class="form-control form-control-sm"
                        name="conClientG"
                         required
                         #select10="ngModel"
                        >
                          <option [ngValue]="null" selected
                            >Selecciona Contacto</option
                          >
                          <option
                            *ngFor="let clc of cliente.contactos"
                            [ngValue]="clc"
                            >{{ clc.clcNombre }}</option
                          >
                        </select>

                        <span *ngIf="select10.invalid && select10.touched"
                        class="text-white bg-danger">
                        El campo es requerido</span>

                      </div>
                      <label class="col-md-12 control-label" for="conClientLP"
                        >Contacto lider</label
                      >
                      <div class="col-md-12">
                        <select
                        [(ngModel)]="conClientLP"
                        class="form-control form-control-sm"
                        name="conClientLP"
                        required
                        #select11="ngModel"
                        >
                          <option [ngValue]="null" selected
                            >Selecciona Contacto</option
                          >
                          <option
                            *ngFor="let clca of cliente.contactos"
                            [ngValue]="clca"
                            >{{ clca.clcNombre }}</option
                          >
                        </select>



                      </div>
                      <label class="col-md-12 control-label" for="conClientTL"
                        >Contacto tomador de decisiones</label
                      >
                      <div class="col-md-12">
                        <select
                        [(ngModel)]="conClientTL"
                        class="form-control form-control-sm"
                          name="conClientTL"
                          required
                          #select12="ngModel"

                        >
                          <option [ngValue]="null" selected
                            >Selecciona Contacto</option
                          >
                          <option
                            *ngFor="let clcb of cliente.contactos"
                            [ngValue]="clcb"
                            >{{ clcb.clcNombre }}</option
                          >
                        </select>

                        <span *ngIf="select12.invalid && select12.touched"
                        class="text-white bg-danger">
                        El campo es requerido</span>



                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card">
              <!-- Card header -->
              <div
                class="card-header z-depth-1 teal lighten-2"
                role="tab"
                id="heading12"
              >
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordionEx2"
                  href="#collapse12"
                  aria-expanded="false"
                  aria-controls="collapse12"
                >
                  <h6 class="mb-0 black-text font-weight-bold">
                    Datos del proyecto
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div
                id="collapse12"
                class="collapse"
                role="tabpanel"
                aria-labelledby="heading12"
                data-parent="#accordionEx2"
              >
                <div class="card-body rgba-teal-strong white-text">
                  <div class="row">
                    <!-- Text input -->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="proyecto"
                        >Nombre del proyecto</label
                      >
                      <div class="col-md-12">
                        <input
                          name="proyecto"
                          type="text"
                          placeholder="nombre del proyecto"
                          class="form-control input-md form-control-sm"
                          required
                          [(ngModel)]="nombrePro"
                          maxlength="100"
                          pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$"
                          #var2="ngModel"
                        />

                        <span *ngIf="var2.invalid && var2.touched"
                        class="text-white bg-danger">
                        El campo es requerido ó solo acepta letras.
                        </span>

                      </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="Puesto"
                        >Puesto</label
                      >
                      <div class="col-md-12">
                        <input
                          name="Puesto"
                          type="text"
                          placeholder="Puesto del proyecto"
                          class="form-control input-md form-control-sm"
                          required
                          [(ngModel)]="puestoPro"
                          maxlength="50"
                          pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$"
                          #var3="ngModel"
                        />

                        <span *ngIf="var3.invalid && var3.touched"
                        class="text-white bg-danger">
                        El campo es requerido ó solo acepta letras.
                      </span>

                    </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="duracion"
                        >Duración proyecto</label
                      >
                      <div class="col-md-12">
                        <input
                          name="duracion"
                          type="text"
                          placeholder="Duracion Proyecto"
                          class="form-control input-md form-control-sm"
                          required
                          [(ngModel)]="duracionPro"
                          maxlength="50"
                          pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$"
                          #var4="ngModel"
                        />

                        <span *ngIf="var4.valid && var4.touched"
                        class="text-white bg-danger">
                        El campo es requerido ó solo acepta letras.
                        </span>

                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="jornada"
                        >Jornada Laboral</label
                      >
                      <div class="col-md-12">
                        <select
                        [(ngModel)]="jornadaLab"
                        class="form-control form-control-sm"
                        name="jornada"
                        required
                        #select13="ngModel"
                        >
                          <option value="" selected>Selecciona una</option>
                          <option
                            *ngFor="let item of allJornada"
                            [ngValue]="item"
                            >{{ item.jolTipo }}</option
                          >
                        </select>

                        <span *ngIf="select13.invalid && select13.touched"
                        class="text-white bg-danger">
                        El campo es requerido</span>


                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Textarea -->
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="descripcion"
                          >Descripción</label
                        >
                        <div class="col-md-12">
                          <textarea
                          [(ngModel)]="descripcion"
                          class="form-control form-control-sm"
                          name="descripcion"
                            rows="6"
                          >
                          Descripción del proyecto</textarea
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="direccion"
                          >Direccion de entrevista</label
                        >
                        <input
                          name="direccion"
                          type="text"
                          placeholder="Direccion"
                          class="form-control input-md form-control-sm"
                          required
                          [(ngModel)]="direccion"
                          maxlength="100"
                          pattern= "^[a-zA-ZñÑáéíóúÁÉÍÓÚ0123456789 ]*$"
                          #var5="ngModel"
                        />

                        <span *ngIf="var5.valid && var5.touched"
                        class="text-white bg-danger">
                        El campo es requerido ó solo acepta letras y numeros.
                        </span>

                      </div>
                    </div>
                    <!-- Text input -->
                    <div class="col-lg-3">
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="nVacante"
                        >Numero de vacantes</label
                      >
                      <div class="col-md-12">
                        <input
                          name="nVacante"
                          type="number"
                          placeholder="Numero vacantes"
                          min="1"
                          max="100"
                          [(ngModel)]="nVacante"
                          maxlength="3"
                          pattern="^[0123456789 ]*$"
                          #var6="ngModel"
                        />

                        <span *ngIf="var6.valid && var6.touched"
                        class="text-white bg-danger">
                        El campo es requerido ó solo acepta numeros.
                        </span>

                      </div>
                    </div>
                  </div>
                    <!-- Text input -->
                    <div class="col-lg-3">
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="duracion"
                        >Tarifa comercial</label
                      >
                      <div class="col-md-12">
                        <input
                          name="tarifaC"
                          type="number"
                          placeholder="Tarifa comercial"
                          min="1"
                          max="100"
                          class="form-control input-md form-control-sm"
                          [(ngModel)]="tarifaC"
                          maxlength="3"
                          pattern="^[0123456789 ]*$"
                          #var7="ngModel"
                        />

                        <span *ngIf="var7.valid && var7.touched"
                        class="text-white bg-danger">
                          El campo es requerido ó solo acepta números.
                        </span>

                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </div>

            <!-- Accordion card -->
            <div class="card">
              <!-- Card header -->
              <div
                class="card-header z-depth-1 teal lighten-1"
                role="tab"
                id="heading13"
              >
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordionEx2"
                  href="#collapse13"
                  aria-expanded="true"
                  aria-controls="collapse13"
                >
                  <h6 class="mb-0 black-text font-weight-bold">
                    Conocimiento requeridos
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div
                id="collapse13"
                class="collapse"
                role="tabpanel"
                aria-labelledby="heading13"
                data-parent="#accordionEx2"
              >
                <div class="card-body rgba-teal-strong white-text">
                  <div class="row">
                    <!-- Select Basic -->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="idioma"
                        >Idioma</label
                      >
                      <div class="col-md-12">
                        <select
                        [(ngModel)]="idioma"
                        class="form-control form-control-sm"
                        name="idioma"
                        required
                        #select14="ngModel"
                        >
                          <option value="" selected>Selecciona uno</option>
                          <option
                            *ngFor="let item of allIdiomas"
                            [ngValue]="item"
                            >{{ item.idiNombre }}</option
                          >
                        </select>

                        <span *ngIf="select14.invalid && select14.touched"
                        class="text-white bg-danger">
                        El campo es requerido</span>


                      </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="nivel"
                        >Nivel</label
                      >
                      <div class="col-md-12">
                        <input
                          name="nivel"
                          type="text"
                          placeholder=""
                          class="form-control form-control-sm"
                          required
                          [(ngModel)]="nvIdioma"
                          maxlength=""
                          pattern="^[0123456789 ]*$"
                          #var8="ngModel"
                        />

                        <span *ngIf="var8.valid && var8.touched"
                        class="text-white bg-danger">
                        El campo es requerido ó solo acepta letras.
                        </span>

                      </div>
                    </div>
                    <div>
                      <button
                        class="btn btn-success btn-sm mt-4 mr-5"
                        (click)="addIdioma()"
                      >
                        <i
                          data-toggle="tooltip"
                          data-placement="center"
                          title="Agregar"
                          class="fas fa-plus"
                        ></i>
                      </button>
                    </div>
                    <div>
                      <table
                        class=" table table-striped table-bordered table-hover table-sm ml-3 mt-4"
                        id="tableArea"
                      >
                        <thead class="thead-ligth">
                          <tr>
                            <th scope="col">Idioma</th>
                            <th scope="col">Nivel</th>
                            <th scope="col">Eliminar</th>
                          </tr>
                        </thead>
                        <tbody class="tbody-ligth">
                          <tr *ngFor="let a of listaIdioma">
                            <th scope="row">{{ a.idiIdioma.idiNombre }}</th>
                            <th scope="row">{{ a.sliNivel }}</th>
                            <td align="center" style="width: 6em;">
                              <i
                                style="color:#dc3545;"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Eliminar"
                                class="fas fa-trash-alt"
                                (click)="deleteIdioma(a)"
                              ></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Select Basic -->
                  <div class="row">
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="conocimiento"
                        >Conocimiento</label
                      >
                      <div class="col-md-12">
                        <select
                        [(ngModel)]="conocimiento"
                        class="form-control form-control-sm"
                        name="conocimiento"
                        required
                        #select15="ngModel"
                        >
                          <option [ngValue]="null">Selecciona uno</option>
                          <option
                            *ngFor="let cono of allConocimiento"
                            [ngValue]="cono"
                            >{{ cono.cotConocimiento }}</option
                          >
                        </select>

                        <span *ngIf="select16.invalid && select16.touched"
                        class="text-white bg-danger">
                        El campo es requerido</span>



                      </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="nivel"
                        >Nivel</label
                      >
                      <div class="col-md-12">
                        <input
                          name="nivel"
                          type="text"
                          placeholder=""
                          class="form-control form-control-sm"
                          required
                          [(ngModel)]="nvCono"
                          maxlength="15"
                          pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$"
                          #var9="ngModel"
                           />


                        <span *ngIf="var9.valid && var9.touched"
                        class="text-white bg-danger">
                          El campo es requerido ó solo acepta letras.
                        </span>


                      </div>
                    </div>
                    <div>
                      <button
                        class="btn btn-success btn-sm mt-4 mr-5"
                        (click)="addConocimiento()"
                      >
                        <i
                          data-toggle="tooltip"
                          data-placement="center"
                          title="Agregar"
                          class="fas fa-plus"
                        ></i>
                      </button>
                    </div>
                    <div>
                      <table
                        class="table table-striped table-bordered table-hover table-sm ml-3 mt-4"
                        id="tableArea"
                      >
                        <thead class="thead-ligth">
                          <tr>
                            <th scope="col">Conocimiento</th>
                            <th scope="col">Nivel</th>
                            <th scope="col">Eliminar</th>
                          </tr>
                        </thead>
                        <tbody class="tbody-ligth">
                          <tr *ngFor="let a of listaConocimiento">
                            <th scope="row">
                              {{ a.cotConocimientosTec.cotConocimiento }}
                            </th>
                            <th scope="row">{{ a.socNivel }}</th>
                            <td align="center" style="width: 6em;">
                              <i
                                style="color:#dc3545;"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Eliminar"
                                class="fas fa-trash-alt"
                                (click)="deleteConocimiento(a)"
                              ></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Select Basic -->
                  <div class="row">
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="habilidades"
                        >Habilidades</label
                      >
                      <div class="col-md-12">
                        <select
                        [(ngModel)]="habilidad"
                        class="form-control"
                        name="habilidades"
                        required
                        #select16="ngModel"


                        >
                          <option [ngValue]="null">Selecciona uno</option>
                          <option
                            *ngFor="let hab of allHabilidades"
                            [ngValue]="hab"
                            >{{ hab.cohDescripcion }}</option
                          >
                        </select>

                        <span *ngIf="select16.invalid && select16.touched"
                        class="text-white bg-danger">
                        El campo es requerido</span>

                      </div>
                    </div>
                    <div>
                      <button
                        class="btn btn-success btn-sm mt-4 mr-5"
                        (click)="addHabilidad()"
                      >
                        <i
                          data-toggle="tooltip"
                          data-placement="center"
                          title="Agregar"
                          class="fas fa-plus"
                        ></i>
                      </button>
                    </div>
                    <div>
                      <table
                        class="table table-striped table-bordered table-hover table-sm ml-3 mt-4"
                        id="tableArea"
                      >
                        <thead class="thead-ligth">
                          <tr>
                            <th scope="col">Habilidad</th>
                            <th scope="col">Eliminar</th>
                          </tr>
                        </thead>
                        <tbody class="tbody-ligth">
                          <tr *ngFor="let a of listaHabilidades">
                            <th scope="row">
                              {{ a.cohCompetenciashabilidades.cohDescripcion }}
                            </th>
                            <td align="center" style="width: 6em;">
                              <i
                                style="color:#dc3545;"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Eliminar"
                                class="fas fa-trash-alt"
                                (click)="deleteHabilidades(a)"
                              ></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <!-- Card header -->
                <div class="card-header z-depth-1 teal" role="tab" id="heading1">
                  <a
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#accordionEx2"
                    href="#collapse1"
                    aria-expanded="false"
                    aria-controls="collapse1"
                  >
                    <h6 class="mb-0 black-text font-weight-bold">Equipo</h6>
                  </a>
                </div>

                <!-- Card body -->
                <div
                  id="collapse1"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="heading1"
                  data-parent="#accordionEx2"
                >
                  <div class="card-body rgba-teal-strong white-text">
                    <div class="row">
                      <!-- Select Basic -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="equipo"
                          >Equipos</label
                        >
                        <select
                        [(ngModel)]="equipo"
                        class="form-control form-control-sm"
                          name="equipo"
                          required
                          #select17="ngModel"
                        >
                          <option [ngValue]="null" selected
                            >Selecciona uno</option
                          >
                          <option *ngFor="let e of allEquipo" [ngValue]="e">{{
                            e.equNombre
                          }}</option>
                        </select>


                        <span *ngIf="select17.invalid && select17.touched"
                        class="text-white bg-danger">
                        El campo es requerido</span>


                      </div>
                      <div>
                        <button
                          class="btn btn-success btn-sm mt-4 mr-5 ml-3"
                          (click)="addEquipo()"
                        >
                          <i
                            data-toggle="tooltip"
                            data-placement="center"
                            title="Agregar"
                            class="fas fa-plus"
                          ></i>
                        </button>
                      </div>
                      <div>
                        <table
                          class="table table-striped table-bordered table-hover table-sm ml-3 mt-4"
                          id="tableArea"
                        >
                          <thead class="thead-ligth">
                            <tr>
                              <th scope="col">Equipo</th>
                              <th scope="col">Descripción</th>
                              <th scope="col">Eliminar</th>
                            </tr>
                          </thead>
                          <tbody class="tbody-ligth">
                            <tr *ngFor="let a of listaEquipo">
                              <th scope="row">{{ a.equEquipo.equNombre }}</th>
                              <th scope="row">
                                {{ a.equEquipo.equDescripcion }}
                              </th>
                              <td align="center" style="width: 6em;">
                                <i
                                  style="color:#dc3545;"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  title="Eliminar"
                                  class="fas fa-trash-alt"
                                  (click)="deleteEquipo(a)"
                                ></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header z-depth-1 teal" role="tab" id="heading14">
                  <a
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#accordionEx2"
                    href="#collapse14"
                    aria-expanded="false"
                    aria-controls="collapse14"
                  >
                    <h6 class="mb-0 black-text font-weight-bold">Funciones</h6>
                  </a>
                </div>

                <!-- Card body -->
                <div
                  id="collapse14"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="heading14"
                  data-parent="#accordionEx2"
                >
                  <div class="card-body rgba-teal-strong white-text">
                    <div class="row">
                      <!-- Select Basic -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="funcion"
                          >Funcion</label
                        >
                        <div class="col-md-12">
                          <input

                            name="funcion"
                            type="text"
                            placeholder="Descripcion de la funcion"
                            class="form-control form-control-sm"
                            required
                            [(ngModel)]="descripcionfuncion"
                            pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$"
                            #var10="ngModel"

                          />

                          <span *ngIf="var10.valid && var10.touched"
                          class="text-white bg-danger">
                          El campo es requerido ó solo acepta letras.
                          </span>

                        </div>
                      </div>
                      <div>
                        <button
                          class="btn btn-success btn-sm mt-4 mr-5"
                          (click)="addFunciones()"
                        >
                          <i
                            data-toggle="tooltip"
                            data-placement="center"
                            title="Agregar"
                            class="fas fa-plus"
                          ></i>
                        </button>
                      </div>
                      <div>
                        <div>
                          <table
                            class="table table-striped table-bordered table-hover table-sm ml-3 mt-4"
                            id="tableArea"
                          >
                            <thead class="thead-ligth">
                              <tr>
                                <th scope="col">Funcion</th>
                                <th scope="col">Eliminar</th>
                              </tr>
                            </thead>
                            <tbody class="tbody-ligth">
                              <tr *ngFor="let a of listaFunciones">
                                <th scope="row">{{ a.funDescripcion }}</th>
                                <td align="center" style="width: 6em;">
                                  <i
                                    style="color:#dc3545;"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Eliminar"
                                    class="fas fa-trash-alt"
                                    (click)="deleteFuncion(a)"
                                  ></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header z-depth-1 teal" role="tab" id="heading15">
                  <a
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#accordionEx2"
                    href="#collapse15"
                    aria-expanded="false"
                    aria-controls="collapse15"
                  >
                    <h6 class="mb-0 black-text font-weight-bold">Percepciones</h6>
                  </a>
                </div>

                <!-- Card body -->
                <div
                  id="collapse15"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="heading15"
                  data-parent="#accordionEx2"
                >
                  <div class="card-body rgba-teal-strong white-text">
                    <div class="row">
                      <!-- Select Basic -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="percepcion"
                          >Tipo de percepción</label
                        >
                        <div class="col-md-12">
                          <select
                          [(ngModel)]="percepcion"
                          class="form-control form-control-sm"
                            name="percepcion"
                            required
                            #select18="ngModel"
                          >
                            <option [ngValue]="null" selected
                              >Selecciona una</option
                            >
                            <option
                              *ngFor="let per of allPercepciones"
                              [ngValue]="per"
                              >{{ per.preTipo }}</option
                            >
                          </select>

                          <span *ngIf="select18.invalid && select18.touched"
                          class="text-white bg-danger">
                          El campo es requerido</span>

                        </div>
                      </div>

                      <!-- Text input -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="descripcion"
                          >Descripción</label
                        >
                        <div class="col-md-12">
                          <input
                            name="descripcion"
                            type="text"
                            placeholder=""
                            class="form-control form-control-sm"
                            required
                            [(ngModel)]="descripcionPer"
                            maxlength="50"
                            pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$"
                            #var11="ngModel"
                          />

                          <span *ngIf="var11.valid && var11.touched"
                          class="text-white bg-danger">
                          El campo es requerido ó solo acepta letras.
                          </span>

                        </div>
                      </div>

                      <!-- Text input -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="valor"
                          >Valor</label
                        >
                        <div class="col-md-12">
                          <input
                            name="valor"
                            type="text"
                            placeholder=""
                            class="form-control form-control-sm"
                            required
                            [(ngModel)]="valorPer"
                            pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$"
                            #var12="ngModel"
                          />

                          <span *ngIf="var12.valid && var12.touched"
                          class="text-white bg-danger">
                          El campo es requerido ó solo acepta letras.
                          </span>


                        </div>
                      </div>
                      <div>
                        <button
                          class="btn btn-success btn-sm mt-4 mr-5"
                          (click)="addPercepcion()"
                        >
                          <i
                            data-toggle="tooltip"
                            data-placement="center"
                            title="Agregar"
                            class="fas fa-plus"
                          ></i>
                        </button>
                      </div>
                      <div>
                        <table
                          class="table table-striped table-bordered table-hover table-sm ml-3 mt-4"
                          id="tableArea"
                        >
                          <thead class="thead-ligth">
                            <tr>
                              <th scope="col">Tipo de percepcion</th>
                              <th scope="col">Descripción</th>
                              <th scope="col">Valor</th>
                              <th scope="col">Eliminar</th>
                            </tr>
                          </thead>
                          <tbody class="tbody-ligth">
                            <tr *ngFor="let a of listaPercepciones">
                              <td>{{ a.prePercepciones.preTipo }}</td>
                              <td>{{ a.slpDescripcion }}</td>
                              <td>{{ a.slpValorm }}</td>
                              <td align="center" style="width: 6em;">
                                <i
                                  style="color:#dc3545;"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  title="Eliminar!"
                                  class="fas fa-trash-alt"
                                  (click)="deletePercepcion(a)"
                                ></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.Accordion wrapper -->
          </div>

      </div>
    </div>
  </div>
