<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Candidato</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ candidato?.cndNombre }} {{ candidato?.cndApellidopat }}
            {{ candidato?.cndApellidomat }}
          </h6>
          <p class="card-text" *ngFor="let con of candidato?.conContactocans">
            Contacto: {{ con.conTelmovil }}
          </p>
          <p class="card-text">Email:{{ candidato?.cndEmail }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Cliente</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{
              solicitud?.proProyecto.clcContactoClienteByProIdconclilid
                .clcNombre
            }}
          </h6>
          <p class="card-text">
            Contacto:
            {{
              solicitud?.proProyecto.clcContactoClienteByProIdconclilid
                .clcTelefono
            }}
          </p>
          <p class="card-text">Dirección: {{ solicitud?.cndCalle }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <input
        type="datetime-local"
        [(ngModel)]="comentario"
        class="form-control form-control-sm"
      />
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 mr-3">
        <button
          type="button"
          class="btn btn-sm btn-primary"
          (click)="updateBusiness()"
        >
          Agendar
        </button>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 ml-2">
        <button
          type="button"
          class="btn btn-danger btn-sm "
          [routerLink]="['/IndexBackoffice']"
          routerLinkActive="router-link-active"
        >
          Atras
        </button>
      </div>
    </div>
  </div>
</div>
