  <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
   <h6> Datos del requerimiento</h6>
    <hr>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        Tipo:
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        Prioridad:
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        Area de negocio:
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
       Existe presupuesto:
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        Tipo de vacante:
       </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12">
        Tarifa comercial:
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        Número Vacantes:
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12">
        Sueldo Tope:
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
       Sexo:
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
      Escolaridad:
       </div>
    </div>


    <div class="row mb-4">
      <div class="col-lg-2 col-md-2 col-sm-12">
        Requiere equipo:
      </div>
      <div class="col-lg-4 col-md-2 col-sm-12">
        Lugar entrevista:
      </div>
      <div class="col-lg-4 col-md-3 col-sm-12">
      Lugar de asignación:
      </div>
    </div>

<h6> Datos del cliente</h6>
<hr>
<div class="row">
  <div class="col-lg-3 col-md-2 col-sm-12">
    Nombre:
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12">
  <B> Contacto  </B>
<hr>
  </div>
</div>

<div class="row mb-4">
  <div class="col-lg-3 col-md-2 col-sm-12">
    Razon Social:
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12">
    Nombre:
   </div>

   <div class="col-lg-2 col-md-2 col-sm-12">
    Teléfono(s):
   </div>

   <div class="col-lg-2 col-md-2 col-sm-12">
    Email:
   </div>

   <div class="col-lg-2 col-md-2 col-sm-12">
    Puesto:
   </div>

</div>

<h6>Datos del proyecto </h6>

<hr>

<div class="row ">
  <div class="col-lg-3 col-md-2 col-sm-12">
    Nombre:
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12">
    Descripción:
   </div>

   <div class="col-lg-2 col-md-2 col-sm-12">
    Puesto:
   </div>

   <div class="col-lg-2 col-md-2 col-sm-12">
    Inicio:
   </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-3 col-md-2 col-sm-12">
      Observaciones:
    </div>
  </div>


  <h6>Conocimientos requeridos </h6>

  <hr>

  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      Tecnología
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
      nivel:
     </div>
     <div class="col-lg-2 col-md-2 col-sm-12">
      Habilidades:
     </div>
     <div class="col-lg-2 col-md-2 col-sm-12">
      nivel:
     </div>

     <div class="col-lg-2 col-md-2 col-sm-12">
      Idioma:
     </div>
     <div class="col-lg-2 col-md-2 col-sm-12">
      nivel:
     </div>
    </div>


    <div class="row row mb-4">
      <div class="col-lg-2 col-md-2 col-sm-12">
        Tecnología
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        nivel:
       </div>
       <div class="col-lg-2 col-md-2 col-sm-12">
        Habilidades:
       </div>
       <div class="col-lg-2 col-md-2 col-sm-12">
        nivel:
       </div>

       <div class="col-lg-2 col-md-2 col-sm-12">
        Idioma:
       </div>
       <div class="col-lg-2 col-md-2 col-sm-12">
        nivel:
       </div>
      </div>




  <h6>  Conocimientos deseabes </h6>

  <hr>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        Tecnología
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        nivel:
       </div>
       <div class="col-lg-2 col-md-2 col-sm-12">
        Habilidades:
       </div>
       <div class="col-lg-2 col-md-2 col-sm-12">
        nivel:
       </div>

       <div class="col-lg-2 col-md-2 col-sm-12">
        Idioma:
       </div>
       <div class="col-lg-2 col-md-2 col-sm-12">
        nivel:
       </div>
      </div>


      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
          Tecnología
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          nivel:
         </div>
         <div class="col-lg-2 col-md-2 col-sm-12">
          Habilidades:
         </div>
         <div class="col-lg-2 col-md-2 col-sm-12">
          nivel:
         </div>

         <div class="col-lg-2 col-md-2 col-sm-12">
          Idioma:
         </div>
         <div class="col-lg-2 col-md-2 col-sm-12">
          nivel:
         </div>
        </div>
      </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
        <form>
      <div class="form-group">
          <label class="font-weight-bold" >Comentario</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
      </form>
  </div>

  <div class="row mt-4">
  <div class="col-lg-3">
    </div>

    <div class="row">
        <div class="col-lg-2">

    <button type="button" class="btn btn-success">Success</button>




    <button type="button" class="btn btn-danger">Danger</button>

  </div>


</div>
