<!-- Button trigger modal -->
<button  class="btn btn-link align-text-top btn-outline-success bg-success" style="font-size: 15px;" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-plus"> Nuevo</i>
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Estatus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm" (submit)="saveData()">
                    <div class="form-group">
                        <label for="arnTipo">Estatus</label>
                        <input maxlength="30" type="text" required class="form-control" placeholder="Escribe el nuevo estatus" name="escDescripcion" formControlName="escDescripcion" #escDescripcion>
                        <div *ngIf="addForm.get('escDescripcion').errors && addForm.get('escDescripcion').dirty">
                            <p style="color:darkred;" *ngIf="addForm.get('escDescripcion').hasError('required')">El estatus es requerida</p>
                            <p style="color:darkred;" *ngIf="addForm.get('arnTipo').hasError('maxlength')">Máximo 15 carácteres</p>
                            <p style="color:darkred;" *ngIf="addForm.get('arnTipo').hasError('pattern')">Solo se aceptan letras</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" role="button" (click)='addEstatus(escDescripcion.value)' [disabled]="addForm.invalid">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
