<!-- Button trigger modal -->
<button  class="btn btn-link align-text-top" style="font-size: 15px;" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-plus"> Nuevo</i>
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Conocimiento Técnico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm" (submit)="saveData()">
                    <div class="form-group">
                        <label for="cotConocimiento">Conocimientos Tecnicos</label>
                        <input maxlength="40" type="text" required class="form-control" placeholder="Escribe" name="cotConocimiento" formControlName="cotConocimiento" #cotConocimiento>
                        <div *ngIf="addForm.get('cotConocimiento').errors && addForm.get('cotConocimiento').dirty">
                            <p style="color:darkred;" *ngIf="addForm.get('cotConocimiento').hasError('required')">El conocimiento técnico es requerida</p>
                            <p style="color:darkred;" *ngIf="addForm.get('cotConocimiento').hasError('maxlength')">Máximo 40 carácteres</p>
                            <p style="color:darkred;" *ngIf="addForm.get('cotConocimiento').hasError('pattern')">Solo se aceptan letras</p>
                        </div>
                        <label for="cotTipo">Tipo Conocimientos Tecnicos</label>
                        <input maxlength="40" type="text" required class="form-control" placeholder="Escribe" name="cotTipo" formControlName="cotTipo" #cotTipo>
                        <div *ngIf="addForm.get('cotTipo').errors && addForm.get('cotTipo').dirty">
                            <p style="color:darkred;" *ngIf="addForm.get('cotTipo').hasError('required')">El conocmiento técnico es requerida</p>
                            <p style="color:darkred;" *ngIf="addForm.get('cotTipo').hasError('maxlength')">Máximo 40 carácteres</p>
                            <p style="color:darkred;" *ngIf="addForm.get('cotTipo').hasError('pattern')">Solo se aceptan letras</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" role="button" (click)='addcontecnicos(cotConocimiento.value, cotTipo.value)' [disabled]="addForm.invalid">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
