<div class="col-sm-12 col-md-12 col-lg-12">
    <table id="dataTable" datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Área</th>
          <th scope="col">Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of allSolicitud">
          <th scope="row">{{ s.solIdsolicitud }}</th>
          <td>{{ s.arnAreanegocio.arnTipo }}</td>
          <td>{{ s.cliCliente.cliNombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
