<div class="container-fluid">
    <div class="card">
        <div class="card-body">
      <div class="row">
      <div class="col-md-4">
        <div class="card-header z-depth-1 teal lighten-4" role="tab">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  data-toggle="collapse"
                  href="#collapse1"
                  style="text-align:center; "
                  >Prioridad alta</a
                >
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <app-listado-a></app-listado-a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-header z-depth-1 teal lighten-4" role="tab">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Prioridad media</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <app-listado-m></app-listado-m>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-header z-depth-1 teal lighten-4" role="tab">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">Prioridad Baja</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                <app-listado-b></app-listado-b>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
    <div class="row">
      <br/>
      <br/>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="card-header z-depth-1 teal lighten-4" role="tab">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a
                      data-toggle="collapse"
                      href="#collapse4"
                      style="text-align:center; "
                      >Asignadas</a
                    >
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">

                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-md-6">
          <div class="card-header z-depth-1 teal lighten-4" role="tab">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a
                      data-toggle="collapse"
                      href="#collapse5"
                      style="text-align:center; "
                      >Validadas</a
                    >
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">

                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="row">
        <br/>
        <br/>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card-header z-depth-1 teal lighten-4" role="tab">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  data-toggle="collapse"
                  href="#collapse6"
                  style="text-align:center; "
                  >Candidatos Rechazados</a
                >
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-header z-depth-1 teal lighten-4" role="tab">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  data-toggle="collapse"
                  href="#collapse7"
                  style="text-align:center; "
                  >Candidatos Aceptados</a
                >
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
