<!--Carta principal-->
<div class="card mt-4 border-3 border-top border-top-success">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h6 class="text-muted">
          Aceptados
        </h6>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-12">
          <app-alta-aceptado></app-alta-aceptado>
          </div>
  </div>
    <div class="row mt-2">
        <div class="col-lg-12">
          <app-media-aceptado></app-media-aceptado>
          </div>
  </div>
    <div class="row mt-2">
        <div class="col-lg-12">
          <app-baja-aceptado></app-baja-aceptado>
          </div>
  </div>
</div>
</div>

