<!--Carta principal-->
<div class="card mt-4 border-3 border-top border-top-danger">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h6 class="text-muted">
            Rechazados
          </h6>
        </div>
      </div>
      <div class="row mt-2">
          <div class="col-lg-12">
            <app-alta-rechazado></app-alta-rechazado>
            </div>
    </div>
      <div class="row mt-2">
          <div class="col-lg-12">
            <app-media-rechazado></app-media-rechazado>
            </div>
    </div>
      <div class="row mt-2">
          <div class="col-lg-12">
            <app-baja-rechazado></app-baja-rechazado>
            </div>
    </div>
  </div>
  </div>


