<div class="container">
  <div class="jumbotron">

     <!-- Carta donde se encuentra el collapsible con toda la información -->
  <div class="card" style="width: 100%;">
    <!-- <form [formGroup]="addForm" (submit)="saveData()"> -->
    <div class="card-header">
      <div class="row">
        <div class="col-lg-6"><h5>Validar Candidato</h5></div>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <!-- Empieza el collapsible -->
        <div class="accordion" id="accordionExample">
          <!--
              Titulo del primer collapsible - tambien boton para abrir el primer collapsible
            -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                <h6 class="mb-0">Datos del candidato</h6>
              </button>
            </div>
            <!-- Primer collapsible -->
            <div
              id="collapseOne"
              class="collapse "
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <!-- Contenido del primer collapsible -->
              <div class="card-body">
                <!-- Formulario para el primer collapsible -->
                <div class="form-row">
                  <div class=" col-md-3 mb-3">
                    <label
                      for="nombre"
                      class="col-form-label-sm font-weight-bold"
                      >Nombre</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndNombre"
                      placeholder="nombre"
                      required
                      [(ngModel)]="candidato && candidato.cndNombre"
                      required
                      maxlength="20"
                    />
                  </div>

                  <div class="col-md-3 mb-3">
                    <label
                      for="apePaterno"
                      class="col-form-label-sm font-weight-bold"
                      >Apellido Paterno</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndApellidopat"
                      placeholder="Apellido Paterno"
                      required
                      name="cndApellidopat"
                      [(ngModel)]="candidato && candidato.cndApellidopat"
                    />
                  </div>

                  <div class="col-md-3 mb-3">
                    <label
                      for="apeMaterno"
                      class="col-form-label-sm font-weight-bold"
                      >Apellido Materno</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndApellidomat"
                      placeholder="Apellido Materno"
                      required
                      name="cndApellidomat"
                      [(ngModel)]="candidato && candidato.cndApellidomat"
                    />
                  </div>

                  <div class="col-md-3 mb-3">
                    <label for="edad" class="col-form-label-sm font-weight-bold"
                      >Edad</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndEdad"
                      placeholder="Edad"
                      name="cndEdad"
                      [(ngModel)]="candidato && candidato.cndEdad"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label
                      for="email"
                      class="col-form-label-sm font-weight-bold"
                      >Email</label
                    >
                    <input
                      type="email"
                      class="form-control form-control-sm"
                      id="cndEmail"
                      placeholder="Email"
                      name="cndEmail"
                      [(ngModel)]="candidato && candidato.cndEmail"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>

                  <div class="col-md-3 mb-3">
                    <label
                      for="edoCivil"
                      class="col-form-label-sm font-weight-bold"
                      >Estado Civil</label
                    >
                    <select
                      class="form-control form-control-sm"
                      [(ngModel)]="candidato && candidato.cndEstcivil"
                    >
                      <option [ngValue]="" selected>Estado civil</option>
                      <option value="Soltero">Soltero</option>
                      <option value="Casado">Casado</option>
                      <option value="Divorciado">Divorciado</option>
                    </select>
                  </div>
                  <div class="col-md-3 mb-3 ">
                    <label
                      class="col-form-label-sm font-weight-bold"
                      for="genero"
                      >Sexo</label
                    >
                    <select
                      [(ngModel)]="candidato && candidato.cndGenero"
                      class="form-control form-control-sm"
                      id="genero"
                      name="genero"
                      [ngModelOptions]="{ standalone: true }"
                    >
                      <option [value]="" selected>Selecciona uno</option>
                      <option value="I">Indefinido</option>
                      <option value="H">Hombre</option>
                      <option value="M">Mujer</option>
                    </select>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-2 col-lg-2 mb-3">
                    <label
                      for="cndTrabaja"
                      class="col-form-label-sm font-weight-bold"
                      >Trabaja</label
                    >
                    <select
                      class="form-control form-control-sm"
                      [(ngModel)]="candidato && candidato.cndTrabaja"
                    >
                      <option [ngValue]="null" selected>Trabaja</option>
                      <option value="true">Sí</option>
                      <option value="false">No</option>
                    </select>
                  </div>

                  <div class="col-md-2 col-lg-2 mb-3">
                    <label
                      for="cndHijos"
                      class="col-form-label-sm font-weight-bold"
                      >Hijos</label
                    >
                    <select
                      class="form-control form-control-sm"
                      [(ngModel)]="candidato && candidato.cndHijos"
                    >
                      <option [ngValue]="null" selected>Hijos</option>
                      <option value="true">Sí</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                  <div class="col-md-2 col-lg-2 mb-3">
                    <label
                      for="cndVisa"
                      class="col-form-label-sm font-weight-bold"
                      >Visa</label
                    >
                    <select
                      class="form-control form-control-sm"
                      [(ngModel)]="candidato && candidato.cndVisa"
                    >
                      <option value="null" selected>Visa</option>
                      <option value="true">Sí</option>
                      <option value="false">No</option>
                    </select>
                  </div>

                  <div class="col-md-2 col-lg-2 mb-3">
                    <label
                      for="cndPasaporte"
                      class="col-form-label-sm font-weight-bold"
                      >Pasaporte</label
                    >
                    <select
                      class="form-control form-control-sm"
                      [(ngModel)]="candidato && candidato.cndPasaporte"
                    >
                      <option [ngValue]="" selected>Pasaporte</option>
                      <option value="true">Sí</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-lg-3 mb-3">
                    <label
                      for="cndDispoViajar"
                      class="col-form-label-sm font-weight-bold"
                      >Disponibilidad para viajar</label
                    >
                    <select
                      class="form-control form-control-sm"
                      [(ngModel)]="candidato && candidato.cndDispoViajar"
                    >
                      <option value="" selected>Disponibilidad</option>
                      <option value="true">Sí</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="txtDireccion" class="col-form-label-sm"
                        >Dirección</label
                      >
                      <textarea
                        class="form-control form-control-sm"
                        id="cndCalle"
                        rows="2"
                        required
                        name="cndCalle"
                        [(ngModel)]="candidato && candidato.cndCalle"
                        [ngModelOptions]="{ stanalone: true }"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <!-- Empieza la parte del contacto -->
                <div class="form-row"><h6>Teléfonos de contacto</h6></div>

                <!-- Formulario para agregar el contacto -->
                <div class="form-row align-content-center">
                  <div class="cool-auto">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="contacto"
                        placeholder="Teléfono"
                        name="conTelMovil"
                        [(ngModel)]="conTelMovil"
                      />
                    </div>
                  </div>
                  <!-- Boton para agregar el contacto -->
                  <div class="col-auto">
                    <button class="btn btn-success btn-sm"
                        (click)="addContacto()">
                      <i
                        data-toggle="tooltip"
                        data-placement="center"
                        title="Agregar"
                        class="fas fa-plus"

                      ></i>
                    </button>
                  </div>

                  <div class="col-auto align-content-center">
                    <table
                      class="table table-striped table-bordered table-hover table-sm"
                    >
                      <thead class="thead-ligth">
                        <tr>
                          <th scope="col">Telefono</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody class="tbody-ligth">
                        <tr *ngFor="let c of candidato?.conContactocans">
                          <th scope="row">{{ c.conTelmovil }}</th>
                          <td align="center" style="width: 6em;">
                            <i
                              style="color:#dc3545;"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Eliminar"
                              class="fas fa-trash-alt"
                              (click)="deleteContacto(c)"
                            ></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Termina la parte del formulario del contacto -->
                <!-- <div class="form-row">
                    <div class="col-lg-4">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input form-control-sm custom-file-text"  id="customFile" lang="es">
                    <label class="custom-file-label" for="customFile">Añadir CV</label>
                  </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <!-- Segundo titulo del collapsible -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <h6 class="mb-0">Percepciones</h6>
              </button>
            </div>

            <!-- Contenido del segundo collapsible -->
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <h6>Últimas percepciones del candidato</h6>
                <!-- Select para añadir las percepciones del -->
                <div class="form-row align-content-lg-center">
                  <!-- Select de la percepcion -->
                  <div class="col-auto">
                    <div class="form-group">
                      <select
                        id="percepcion"
                        name="percepcion"
                        class="form-control form-control-sm"
                        [(ngModel)]="percepcionesCnda"
                        [ngModelOptions]="{ stanalone: true }"
                      >
                        <option value="" selected> Tipo percepción </option>
                        <option
                          *ngFor="let per of allPercepciones"
                          [ngValue]="per"
                        >
                          {{ per.preTipo }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="col-auto">
                    <div class="form-group">
                      <input
                        id="descripcionPerCnda"
                        name="descripcionPerCnda"
                        type="text"
                        placeholder="Descripción"
                        class="form-control form-control-sm"
                        [(ngModel)]="descripcionPerCnda"
                        [ngModelOptions]="{ stanalone: true }"
                      />
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="col-auto">
                    <div class="form-group">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input
                          id="valor"
                          name="valorPerCnda"
                          type="text"
                          placeholder="Valor"
                          class="form-control form-control-sm"
                          [(ngModel)]="valorPerCnda"
                          [ngModelOptions]="{ stanalone: true }"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- Boton para agregar la percepcion del candidato -->
                  <div class="col-auto">
                    <button class="btn  btn-success btn-sm align-bottom"
                    (click)="addPercepcionCnda()">
                      <i
                        data-toggle="tooltip"
                        data-placement="center"
                        title="Agregar"
                        class="fas fa-plus"

                      ></i>
                    </button>
                  </div>
                </div>
                <!-- Tabla de las percepciones del candidato -->
                <div class="row">
                  <div class="col-lg-8 col-lg-offset">
                    <table
                      class="table table-striped table-bordered table-hover table-sm"
                      id="tableArea"
                    >
                      <thead class="thead-ligth">
                        <tr>
                          <th scope="col">Tipo</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Valor</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody class="tbody-ligth">
                        <tr *ngFor="let p of candidato?.pcaPercepcionescndas">
                          <th scope="row">{{ p.prePercepciones.preTipo }}</th>
                          <th scope="row">{{ p.pcaDescripcion }}</th>
                          <th scope="row">{{ p.pcaValor }}</th>
                          <td align="center" style="width: 6em;">
                            <i
                              style="color:#dc3545;"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Eliminar"
                              class="fas fa-trash-alt"
                              (click)="deletePercepcionCnda(p)"
                            ></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- Percepciones ofrecidas -->
                <h6>Percepciones ofrecidas para el puesto</h6>
                <!--
                    Empieza el select para añadir las percepciones ofrecidas
                  -->
                <div class="form-row align-content-lg-center">
                  <!-- Select de la percepcion -->
                  <div class="col-auto">
                    <div class="form-group">
                      <select
                        id="percepcion"
                        name="percepcion"
                        class="form-control form-control-sm"
                        [(ngModel)]="Percepcionesfr"
                        [ngModelOptions]="{ stanalone: true }"
                      >
                        <option value="" selected> Tipo percepción </option>
                        <option
                          *ngFor="let per of allPercepciones"
                          [ngValue]="per"
                        >
                          {{ per.preTipo }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- Text input descripción percepción -->
                  <div class="col-auto">
                    <div class="form-group">
                      <input
                        id="descripcion"
                        name="descripcionPerOfr"
                        type="text"
                        placeholder="Descripción"
                        class="form-control form-control-sm"
                        [(ngModel)]="descripcionPerOfr"
                        [ngModelOptions]="{ stanalone: true }"
                      />
                    </div>
                  </div>

                  <!-- Text input valor percepción ofrecida -->
                  <div class="col-auto">
                    <div class="form-group">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input
                          id="valorPerOfr"
                          name="valorPerOfr"
                          type="text"
                          placeholder="Valor"
                          class="form-control form-control-sm"
                          [(ngModel)]="valorPerOfr"
                          [ngModelOptions]="{ stanalone: true }"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- Boton para agregar la percepcion -->
                  <div class="col-auto">
                    <button class="btn  btn-success btn-sm align-bottom"
                    (click)="addPercepcionOfr()">
                      <i
                        data-toggle="tooltip"
                        data-placement="center"
                        title="Agregar"
                        class="fas fa-plus"

                      ></i>
                    </button>
                  </div>
                </div>

                <!-- Tabla de las percepciones del candidato -->
                <div class="row">
                  <div class="col-lg-8 col-lg-offset">
                    <table
                      class="table table-striped table-bordered table-hover table-sm"
                      id="tableArea"
                    >
                      <thead class="thead-ligth">
                        <tr>
                          <th scope="col">Tipo</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Valor</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody class="tbody-ligth">
                        <tr *ngFor="let p of candidato?.pcaPercepcionescndofrs">
                          <th scope="row">{{ p.prePercepciones.preTipo }}</th>
                          <th scope="row">{{ p.pcoDescripcion }}</th>
                          <th scope="row">{{ p.pcoValor }}</th>
                          <td align="center" style="width: 6em;">
                            <i
                              style="color:#dc3545;"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Eliminar"
                              class="fas fa-trash-alt"
                              (click)="deletePercepcionOfr(p)"
                            ></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Termina la tabla de las percepciones ofrecidas -->
              </div>
            </div>
          </div>
        </div>

        <!-- Collapsible tres -->
        <div class="card">
          <div class="card-header" id="headingThree">
            <button
              class="btn btn-link collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <h6 class="mb-0">Asignación de solicitud</h6>
            </button>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <div class="form-group">
                <label for="exampleFormControlSelect1" class="font-weight-bold"
                  >Solicitud</label
                >
                <select
                  [(ngModel)]="solicitud"
                  class="form-control form-control-sm"
                  name="solicitud"
                  id="selectSolicitud"
                  placeholder="Selecciona uno"
                >
                  <option value="" selected>Selecciona una solicitud</option>
                  <option *ngFor="let sol of candidato?.solSolicitud"
                  [ngValue]="sol">
                    {{ sol.solSolicitud.proProyecto.proNombre }}
                  </option>
                </select>

              </div>
            </div>
          </div>
        </div>

        <!-- Collapsible 4 -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <button
              class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#collapseFour"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <h6 class="mb-0">Conocimientos y habilidades</h6>
            </button>
          </div>

          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <!-- Empieza la parte de conocimientos técnicos -->
              <div class="row">
                <div class="col-auto"><h6>Conocimientos técnicos</h6></div>
              </div>
              <!-- <hr> -->
              <!-- Empieza el formulario de los conocimientos técnicos -->
              <div class="form-row align-content-lg-center">
                <!-- Select para  los conocimientos ténicos -->
                <div class="col-auto">
                  <div class="form-group">
                    <select
                      id="conocimiento"
                      name="conocimiento"
                      class="form-control form-control-sm"
                      [(ngModel)]="conocimiento"
                      [ngModelOptions]="{ stanalone: true }"
                    >
                      <option [ngValue]="null" selected>Conocimiento</option>
                      <option
                        *ngFor="let cono of allConTecnicos"
                        [ngValue]="cono"
                        >{{ cono.cotConocimiento }}</option
                      >
                    </select>
                  </div>
                </div>

                <!-- Input text del nivel de conocimiento -->
                <div class="col-auto">
                  <div class="form-group">
                    <input
                      id="nvCono"
                      name="nvCono"
                      type="text"
                      placeholder="Nivel"
                      class="form-control form-control-sm"
                      [(ngModel)]="nvCono"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>
                </div>

                <!-- Boton para agregar el conocimiento técnico -->
                <div class="col-auto">
                  <div class="form-group">
                    <button class="btn btn-success btn-sm"
                    (click)="addConocimiento()">
                      <i
                        data-toggle="tooltip"
                        data-placement="center"
                        title="Agregar"
                        class="fas fa-plus"

                      ></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Cierre del formulario para agregar conocimiento técnico -->

              <!-- Tabla donde se agregan los conocimientos -->
              <div class="row">
                <div class="col-lg-8 col-lg-offset">
                  <table
                    class="table table-striped table-bordered table-hover table-sm"
                    id="tableArea"
                  >
                    <thead class="thead-ligth">
                      <tr>
                        <th scope="col">Tecnología</th>
                        <th scope="col">Nivel</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="tbody-ligth">
                      <tr *ngFor="let c of candidato?.cocConTecCandidatos">
                        <th scope="row">
                          {{ c.cotConocimientosTec.cotConocimiento }}
                        </th>
                        <th scope="row">{{ c.cocNivel }}</th>
                        <td style="width: 3em;" align="center">
                          <i
                            style="color:#dc3545;"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Eliminar"
                            class="fas fa-trash-alt"
                            (click)="deleteConocimiento(c)"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Términa la tabla de los conocimientos -->

              <!-- Empieza el formulario para agregar el idioma -->
              <div class="row">
                <div class="col-auto"><h6>Idiomas</h6></div>
              </div>
              <!-- <hr> -->
              <div class="form-row align-content-lg-center">
                <!-- Select para  los idiomas -->
                <div class="col-auto">
                  <div class="form-group">
                    <select
                      id="Idioma"
                      name="Idioma"
                      class="form-control form-control-sm"
                      [(ngModel)]="idiomaCnda"
                      [ngModelOptions]="{ stanalone: true }"
                    >
                      <option [ngValue]="null" selected>Idioma</option>
                      <option *ngFor="let i of allIdiomas" [ngValue]="i">{{
                        i.idiNombre
                      }}</option>
                    </select>
                  </div>
                </div>

                <!-- Input text del nivel del idioma -->
                <div class="col-auto">
                  <div class="form-group">
                    <input
                      id="nvIdioma"
                      name="nvIdioma"
                      type="text"
                      placeholder="Nivel"
                      class="form-control form-control-sm"
                      [(ngModel)]="nvIdioma"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>
                </div>

                <!-- Boton para agregar el idioma -->
                <div class="col-auto">
                  <div class="form-group">
                    <button class="btn btn-primary btn-sm"
                    (click)="addIdioma()">
                      <i
                        data-toggle="tooltip"
                        data-placement="center"
                        title="Agregar"
                        class="fas fa-plus"

                      ></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Cierre del formulario para agregar idioma -->

              <!-- Tabla donde se agregan los idiomas -->
              <div class="row">
                <div class="col-lg-8 col-lg-offset">
                  <table
                    class="table table-striped table-bordered table-hover table-sm"
                    id="tableArea"
                  >
                    <thead class="thead-ligth">
                      <tr>
                        <th scope="col">Idioma</th>
                        <th scope="col">Nivel</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="tbody-ligth">
                      <tr *ngFor="let i of candidato?.idcIdiomaCandidatos">
                        <th scope="row">{{ i.idiIdioma.idiNombre }}</th>
                        <th scope="row">{{ i.idcNivel }}</th>
                        <td style="width: 3em;" align="center">
                          <i
                            style="color:#dc3545;"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Eliminar"
                            class="fas fa-trash-alt"
                            (click)="deleteIdioma(i)"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Términa la tabla de los idiomas -->

              <!-- Empieza la parte de las habilidades -->
              <div class="row">
                <div class="col-auto"><h6>Habilidades</h6></div>
              </div>
              <!-- <hr> -->
              <!-- Empieza el formulario de las habilidades -->
              <div class="form-row align-content-lg-center">
                <!-- Select para  las habilidades -->
                <div class="col-auto">
                  <div class="form-group">
                    <select
                      id="habilidad"
                      name="habilidad"
                      class="form-control form-control-sm"
                      [(ngModel)]="habilidad"
                      [ngModelOptions]="{ stanalone: true }"
                    >
                      <option [ngValue]="null" selected>Habilidad</option>
                      <option *ngFor="let h of candidato?.chcComcandidatos" [ngValue]="h">
                        {{ h.cohCompetenciashabilidades.cohDescripcion}}</option>
                    </select>
                  </div>
                </div>

                <!-- Input text del nivel de la habilidad -->
                <div class="col-auto">
                  <div class="form-group">
                    <input
                      id="nvHab"
                      name="nvHab"
                      type="text"
                      placeholder="Nivel"
                      class="form-control form-control-sm"
                      [(ngModel)]="nvHab"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>
                </div>

                <!-- Boton para agregar la habilidad-->
                <div class="col-auto">
                  <div class="form-group">
                    <button class="btn btn-warning btn-sm"
                    (click)="addHabilidad()">
                      <i
                        data-toggle="tooltip"
                        data-placement="center"
                        title="Agregar"
                        class="fas fa-plus"

                      ></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Cierre del formulario para agregar las habilidades -->

              <!-- Tabla donde se agregan las habilidades -->
              <div class="row">
                <div class="col-lg-8 col-lg-offset">
                  <table
                    class="table table-striped table-bordered table-hover table-sm"
                    id="tableArea"
                  >
                    <thead class="thead-ligth">
                      <tr>
                        <th scope="col">Habilidad</th>
                        <th scope="col">Nivel</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="tbody-ligth">
                      <tr *ngFor="let h of candidato?.chcComcandidatos">
                        <th scope="row">
                          {{ h.cohCompetenciashabilidades.cohDescripcion }}
                        </th>
                        <th scope="row">{{ h.chcNivel }}</th>
                        <td style="width: 3em;" align="center">
                          <i
                            style="color:#dc3545;"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Eliminar"
                            class="fas fa-trash-alt"
                            (click)="deleteHabilidades(h)"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Términa la tabla de los conocimientos -->
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- </form> -->
  </div>
  <!-- Terminan los collapsibles -->
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="form">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Comentarios</label>
          <textarea class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="9"
                    [(ngModel)]="secComentario"></textarea>
        </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="mt-lg-5 mt-md-5"></div>
      <button class="btn btn-success btn-sm mr-2" (click)="updateBusiness()">Validar</button>
      <button class="btn btn-danger btn-sm" (click)="updateRechazada()">Rechazar</button>

    </div>
  </div>


</div>
  <!--Términa el  Jumbotron-->
</div>
<!--Termina el container-->
