<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 col-lg-offset-2">
          <form [formGroup]="editForm" (submit)="saveData()" class="form-signin">
              <h1 class="h3 mb-3 font-weight-normal">Editar habilidad</h1>
              <div class="form-group">
                  <label for="arnTipo">Habilidades</label>
                  <input [(ngModel)]="competencia.cohDescripcion" maxlength="50" type="text" required class="form-control" name="cohDescripcion" formControlName="cohDescripcion" #cohDescripcion>
                  <div *ngIf="editForm.get('cohDescripcion').errors && editForm.get('cohDescripcion').dirty">
                      <p class="text-danger" *ngIf="editForm.get('cohDescripcion').hasError('required')">La habilidad es requerida</p>
                      <p class="text-danger" *ngIf="editForm.get('cohDescripcion').hasError('maxlength')">Máximo 50 carácteres</p>
                      <p class="text-danger" *ngIf="editForm.get('cohDescripcion').hasError('pattern')">Solo se aceptan letras</p>
                  </div>
                  <button style="margin-top:15px;margin-right:15px;" type="button" class="btn btn-success" role="button" (click)='updateBusiness(cohDescripcion.value)' [disabled]="editForm.invalid">Editar</button>
                  <button style="margin-top:15px;margin-right:15px;" type="button" class="btn btn-danger" routerLink="/Habilidades">Cancelar</button>
              </div>
          </form>
      </div>
  </div>
</div>
