<div class="container">
  <!-- Carta donde se encuentra el collapsible con toda la información -->
  <div class="card" style="width: 100%;">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-6"><h5>Nuevo Candidato</h5></div>
        <div class="col-lg-6 align-content-lg-end">
          <button
            type="button"
            class="btn btn-success"
            data-dismiss="modal"
            role="button"
            (click)="addCandidato()"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-primary">Borrador</button>
        </div>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <!-- Empieza el collapsible -->
        <div class="accordion" id="accordionExample">
          <!--
            Titulo del primer collapsible - tambien boton para abrir el primer collapsible
          -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                <h6 class="mb-0">Datos del candidato</h6>
              </button>
            </div>
            <!-- Primer collapsible -->
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <!-- Contenido del primer collapsible -->
              <div class="card-body">
                <!-- Formulario para el primer collapsible -->
                <div class="form-row">
                  <div class=" col-md-3 mb-3">
                    <label
                      for="nombre"
                      class="col-form-label-sm font-weight-bold"
                      >Nombre</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndNombre"
                      placeholder="nombre"
                      required
                      [(ngModel)]="cndNombre"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>

                  <div class="col-md-3 mb-3">
                    <label
                      for="apePaterno"
                      class="col-form-label-sm font-weight-bold"
                      >Apellido Paterno</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndApellidopat"
                      placeholder="Apellido Paterno"
                      required
                      name="cndApellidopat"
                      [(ngModel)]="cndApellidopat"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>

                  <div class="col-md-3 mb-3">
                    <label
                      for="apeMaterno"
                      class="col-form-label-sm font-weight-bold"
                      >Apellido Materno</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndApellidomat"
                      placeholder="Apellido Materno"
                      required
                      name="cndApellidomat"
                      [(ngModel)]="cndApellidomat"
                    />
                  </div>

                  <div class="col-md-3 mb-3">
                    <label for="edad" class="col-form-label-sm font-weight-bold"
                      >Edad</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndEdad"
                      placeholder="Edad"
                      name="cndEdad"
                      [(ngModel)]="cndEdad"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label
                      for="email"
                      class="col-form-label-sm font-weight-bold"
                      >Email</label
                    >
                    <input
                      type="email"
                      class="form-control form-control-sm"
                      id="cndEmail"
                      placeholder="Email"
                      name="cndEmail"
                      [(ngModel)]="cndEmail"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>

                  <div class="col-md-6 mb-3">
                    <label
                      for="edoCivil"
                      class="col-form-label-sm font-weight-bold"
                      >Estado Civil</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="cndEstcivil"
                      placeholder="Estado Civil"
                      name="cndEstcivil"
                      [(ngModel)]="cndEstcivil"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-check form-check-inline col-md-1 mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cndHijos"
                      value="true"
                      name="cndHijos"
                      [(ngModel)]="cndHijos"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                    <label class="form-check-label" for="inlineCheckbox1"
                      >Hijos</label
                    >
                  </div>

                  <div class="form-check form-check-inline col-md-1 mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cndVisa"
                      value="true"
                      name="cndVisa"
                      [(ngModel)]="cndVisa"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                    <label class="form-check-label" for="inlineCheckbox1"
                      >Visa</label
                    >
                  </div>

                  <div class="form-check form-check-inline col-md-1 mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cndPasaporte"
                      value="true"
                      name="cndPasaporte"
                      [(ngModel)]="cndPasaporte"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                    <label class="form-check-label" for="inlineCheckbox1"
                      >Pasaporte</label
                    >
                  </div>

                  <div class="form-check form-check-inline col-md-2 mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cndDispoViajar"
                      value="true"
                      name="cndDispoViajar"
                      [(ngModel)]="cndDispoViajar"
                      [ngModelOptions]="{ stanalone: true }"
                    />
                    <label class="form-check-label" for="inlineCheckbox1"
                      >Disponibilidad para viajar</label
                    >
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="txtDireccion" class="col-form-label-sm"
                        >Dirección</label
                      >
                      <textarea
                        class="form-control form-control-sm"
                        id="cndCalle"
                        rows="3"
                        required
                        name="cndCalle"
                        [(ngModel)]="cndCalle"
                        [ngModelOptions]="{ stanalone: true }"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <h6>Teléfonos de contacto</h6>
                  <div class="hr"></div>
                </div>
                <div class="form-row">
                  <div class="col-lg-2">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="conTelmovil"
                        placeholder="Teléfono"
                        name="conTelmovil"
                        [(ngModel)]="Contacto"
                      />
                    </div>
                  </div>

                  <div class="col-lg-1">
                    <i
                      style="color:#28a745;"
                      data-toggle="tooltip"
                      data-placement="center"
                      title="Agregar"
                      class="fas fa-plus"
                      (click)="addContacto()"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Segundo titulo del collapsible -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <h6 class="mb-0">Percepciones</h6>
              </button>
            </div>

            <!-- Contenido del segundo collapsible -->
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <h6>Últimas percepciones del candidato</h6>
                <!-- Select para añadir las percepciones -->
                  <div class="row">
                      <!-- Select de la percepcion -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="percepcion"
                          >Tipo de percepción</label
                        >
                        <div class="col-md-12">
                          <select
                            id="percepcion"
                            name="percepcion"
                            class="form-control form-control-sm"
                            [(ngModel)]="percepcion"
                          [ngModelOptions]="{ stanalone: true }"
                          >
                            <option [ngValue]="null" selected>Selecciona una</option>
                            <option *ngFor="let per of allPercepcion" [ngValue]="per">{{per.preTipo}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- Text input -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="descripcion"
                          >Descripción</label
                        >
                        <div class="col-md-12">
                          <input
                            id="descripcion"
                            name="descripcion"
                            type="text"
                            placeholder=""
                            class="form-control form-control-sm"
                            [(ngModel)]="descripcionPer"
                          [ngModelOptions]="{ stanalone: true }"
                          />
                        </div>
                      </div>

                      <!-- Text input -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="valor">Valor</label>
                        <div class="col-md-12">
                          <input
                            id="valor"
                            name="valor"
                            type="text"
                            placeholder=""
                            class="form-control form-control-sm"
                            [(ngModel)]="valorPer"
                          [ngModelOptions]="{ stanalone: true }"
                          />
                        </div>
                      </div>
                      <div>
                        <i
                          style="color:#dc3545;"
                          data-toggle="tooltip"
                          data-placement="center"
                          title="Agregar"
                          class="fas fa-plus"
                        ></i>
                      </div>
                    </div>
                    <!-- Percepciones ofrecidas -->
                    <h6>Percepciones ofrecidas para el puesto</h6>
                    <div class="row">
                                            <!-- Select de la percepcion -->
                                            <div class="form-group">
                                              <label class="col-md-12 control-label" for="percepcion">Tipo de percepción</label>
                                              <div class="col-md-12">
                                                <select id="percepcion" name="percepcion" class="form-control form-control-sm" [(ngModel)]="percepcion"
                                                  [ngModelOptions]="{ stanalone: true }">
                                                  <option [ngValue]="null" selected>Selecciona una</option>
                                                  <option *ngFor="let per of allPercepcion" [ngValue]="per">{{per.preTipo}}</option>
                                                </select>
                                              </div>
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-group">
                                              <label class="col-md-12 control-label" for="descripcion">Descripción</label>
                                              <div class="col-md-12">
                                                <input id="descripcion" name="descripcion" type="text" placeholder="" class="form-control form-control-sm"
                                                  [(ngModel)]="descripcionPer" [ngModelOptions]="{ stanalone: true }" />
                                              </div>
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-group">
                                              <label class="col-md-12 control-label" for="valor">Valor</label>
                                              <div class="col-md-12">
                                                <input id="valor" name="valor" type="text" placeholder="" class="form-control form-control-sm" [(ngModel)]="valorPer"
                                                  [ngModelOptions]="{ stanalone: true }" />
                                              </div>
                                            </div>
                                            <div>
                                              <i style="color:#dc3545;" data-toggle="tooltip" data-placement="center" title="Agregar" class="fas fa-plus"></i>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div>

          <!-- Collapsible tres -->
          <div class="card">
            <div class="card-header" id="headingThree">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <h6 class="mb-0">Asignación de solicitud</h6>
              </button>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Solicitud</label>
                  <select
                    [(ngModel)]="solicitud"
                    class="form-control form-control-sm"
                    name="solicitud"
                    id="selectSolicitud"
                    placeholder="Selecciona uno"
                  >
                    <option value="" selected>Selecciona una solicitud</option>
                    <option *ngFor="let sol of allSolicitudes">
                      {{sol.cliCliente}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Collapsible 4 -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <h6 class="mb-0">Conocimientos y habilidades</h6>
              </button>
            </div>

            <div
              id="collapseFour"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <!-- Select para  los conocimientos ténicos -->
                <!-- Select Basic -->
                <div class="row">
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="conocimiento"
                      >Conocimiento</label
                    >
                    <div class="col-md-12">
                      <select
                        id="conocimiento"
                        name="conocimiento"
                        class="form-control form-control-sm"
                        [(ngModel)]="conocimiento"
                        [ngModelOptions]="{ stanalone: true }"
                      >
                        <option [ngValue]="null">Selecciona uno</option>
                        <option
                          *ngFor="let cono of allConTecnicos"
                          [ngValue]="cono"
                          >{{ cono.cotTipo }}</option
                        >
                      </select>
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="nivel"
                      >Nivel</label
                    >
                    <div class="col-md-12">
                      <input
                        id="nivel"
                        name="nivel"
                        type="text"
                        placeholder=""
                        class="form-control form-control-sm"
                        [(ngModel)]="nvCono"
                        [ngModelOptions]="{ stanalone: true }"
                      />
                    </div>
                  </div>
                  <div>
                    <i
                      style="color:#dc3545;"
                      data-toggle="tooltip"
                      data-placement="center"
                      title="Agregar"
                      class="fas fa-plus"
                      (click)="addConocimiento()"
                    ></i>
                  </div>
                </div>

                <!-- select para el idioma -->
                <div class="row">
                  <!-- Select Basic -->
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="idioma"
                      >Idioma</label
                    >
                    <div class="col-md-12">
                      <select
                        id="idioma"
                        name="idioma"
                        class="form-control form-control-sm"
                        [(ngModel)]="nvIdioma"
                        [ngModelOptions]="{ stanalone: true }"
                      >
                        <option value="" selected>Selecciona uno</option>
                        <option
                          *ngFor="let item of allIdiomas"
                          [ngValue]="item"
                          >{{ item.idiNombre }}</option
                        >
                      </select>
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="nivel"
                      >Nivel</label
                    >
                    <div class="col-md-12">
                      <input
                        id="nivel"
                        name="nivel"
                        type="text"
                        placeholder=""
                        class="form-control form-control-sm"
                        [(ngModel)]="nvIdioma"
                        [ngModelOptions]="{ stanalone: true }"
                      />
                    </div>
                  </div>
                  <div>
                    <i
                      style="color:#dc3545;"
                      data-toggle="tooltip"
                      data-placement="center"
                      title="Agregar"
                      class="fas fa-plus"
                      (click)="addIdioma()"
                    ></i>
                  </div>
                </div>

                <!-- Select para  las habilidades -->

                <!-- Select Basic -->
                <div class="row">
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="habilidades"
                      >Habilidades</label
                    >
                    <div class="col-md-12">
                      <select
                        id="habilidad"
                        name="habilidad"
                        class="form-control form-control-sm"
                        [(ngModel)]="habilidad"
                        [ngModelOptions]="{ stanalone: true }"
                      >
                        <option [ngValue]="null">Selecciona uno</option>
                        <option
                          *ngFor="let hab of allHabilidades"
                          [ngValue]="hab"
                          >{{ hab.cohDescripcion }}</option
                        >
                      </select>
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="form-group">
                    <label class="col-md-12 control-label" for="nivel"
                      >Nivel</label
                    >
                    <div class="col-md-12">
                      <input
                        id="nivel"
                        name="nivel"
                        type="text"
                        placeholder=""
                        class="form-control form-control-sm"
                        [(ngModel)]="nvHab"
                        [ngModelOptions]="{ stanalone: true }"
                      />
                    </div>
                  </div>
                  <div>
                    <i
                      style="color:#dc3545;"
                      data-toggle="tooltip"
                      data-placement="center"
                      title="Agregar"
                      class="fas fa-plus"
                      (click)="addHabilidad()"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </li>
    </ul>
  </div>
  <!-- Terminan los collapsibles -->
</div>
