<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 col-lg-offset-2">
          <form [formGroup]="editForm" (submit)="saveData()" class="form-signin">
              <h1 class="h3 mb-3 font-weight-normal">Editar estatus solicitud</h1>
              <div class="form-group">
                  <label for="estDescripcion">Estatus Solicitud</label>
                  <input [(ngModel)]="estasolicitud.estDescripcion" maxlength="15" type="text" required class="form-control" name="estDescripcion" formControlName="estDescripcion" #estDescripcion>
                  <div *ngIf="editForm.get('estDescripcion').errors && editForm.get('estDescripcion').dirty">
                      <p class="text-danger" *ngIf="editForm.get('estDescripcion').hasError('required')">El estatus solicitud es requerido</p>
                      <p class="text-danger" *ngIf="editForm.get('estDescripcion').hasError('maxlength')">Máximo 15 carácteres</p>
                      <p class="text-danger" *ngIf="editForm.get('estDescripcion').hasError('pattern')">Solo se aceptan letras</p>
                  </div>
                  <button style="margin-top:15px;margin-right:15px;" type="button" class="btn btn-success" role="button" (click)='updateBusiness(estDescripcion.value)' [disabled]="editForm.invalid">Editar</button>
                  <button style="margin-top:15px;margin-right:15px;" type="button" class="btn btn-danger" routerLink="/Estatus-solicitud">Cancelar</button>
              </div>
          </form>
      </div>
  </div>
</div>
