<!-- Button trigger modal -->
<button  class="btn btn-link align-text-top btn-outline-success bg-success" style="font-size: 15px;" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-plus"> Nuevo</i>
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo equipo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm" (submit)="saveData()">
                    <div class="form-group">
                        <label for="equNombre">Nombre</label>
                        <input maxlength="50" type="text" required class="form-control" placeholder="Escribe el nuevo equipo" name="equNombre" formControlName="equNombre" #equNombre>
                        <div *ngIf="addForm.get('equNombre').errors && addForm.get('equDescripcion').dirty">
                            <p style="color:darkred;" *ngIf="addForm.get('equNombre').hasError('required')">El nombre requerida es</p>
                            <p style="color:darkred;" *ngIf="addForm.get('equNombre').hasError('maxlength')">Máximo 50 carácteres</p>
                            <p style="color:darkred;" *ngIf="addForm.get('equNombre').hasError('pattern')">Solo se aceptan letras</p>
                        </div>
                        <label for="equDescripcion">Descripcion</label>
                        <input maxlength="120" type="text" required class="form-control" placeholder="Escribe la nueva descripcion" name="equDescripcion" formControlName="equDescripcion" #equDescripcion>

                              <div *ngIf="addForm.get('equDescripcion').errors && addForm.get('equNombre').dirty">
                                  <p style="color:darkred;" *ngIf="addForm.get('equDescripcion').hasError('required')">La descripcion requerida es</p>
                                  <p style="color:darkred;" *ngIf="addForm.get('equDescripcion').hasError('maxlength')">Máximo 120 carácteres</p>
                                  <p style="color:darkred;" *ngIf="addForm.get('equDescripcion').hasError('pattern')">Solo se aceptan letras</p>
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" role="button" (click)='addequipo(equNombre.value, equDescripcion.value ) ' [disabled]="addForm.invalid">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

