<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 col-lg-offset-2">
          <form [formGroup]="editForm" (submit)="saveData()" class="form-signin">
              <h1 class="h3 mb-3 font-weight-normal">Editar Prioridad</h1>
              <div class="form-group">
                  <label for="priNombre">Nombre</label>
                  <input [(ngModel)]="prioridad.priNombre" maxlength="40" type="text" required class="form-control" name="priNombre" formControlName="priNombre" #priNombre>
                  <div *ngIf="editForm.get('priNombre').errors && editForm.get('priNombre').dirty">
                      <p class="text-danger" *ngIf="editForm.get('priNombre').hasError('required')">La prioridad es requerida</p>
                      <p class="text-danger" *ngIf="editForm.get('priNombre').hasError('maxlength')">Máximo 40 carácteres</p>
                      <p class="text-danger" *ngIf="editForm.get('priNombre').hasError('pattern')">Solo se aceptan letras</p>
                  </div>
                  <button style="margin-top:15px;margin-right:15px;" type="button" class="btn btn-success" role="button" (click)='updateBusiness(priNombre.value)' [disabled]="editForm.invalid">Editar</button>
                  <button style="margin-top:15px;margin-right:15px;" type="button" class="btn btn-danger" routerLink="/Prioridad">Cancelar</button>
              </div>
          </form>
      </div>
  </div>
</div>
