<div class="accordion" id="accordionExample">
  <div class="card border border-greenlight">
    <div class="card-header bg-greenligth" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link text-white"
          type="button"
          data-toggle="collapse"
          data-target="#collapseAsignadas"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Requerimientos asignados
        </button>
      </h5>
    </div>

    <div
      id="collapseAsignadas"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="container">
          <table id="dataTable" datatable class="row-border hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Reclutador</th>
                  <th scope="col">Solicitud</th>
                  <th scope="col">Fecha</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let a of allSeguimiento">
                  <th scope="row">{{ a.solSolicitud.solIdsolicitud }}</th>
                  <td>{{ a.usrUsuario.usrNombreusuario}}</td>
                  <td>{{ a.solSolicitud.proProyecto.proNombre}}</td>
                    <td>{{ a.sgsFecha }}</td>
                    <td> <i class="fa fa-search"
                      ></i></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
