<div class="accordion" id="accordionExample">
  <div class="card border ">
  <div class="card-header " id="headingOne">
  <h5 class="mb-0">
  <button
  class="btn btn-link"
  type="button"
  data-toggle="collapse"
  data-target="#collapseRechazados"
  aria-expanded="true"
  aria-controls="collapseOne"
  >
  Candidatos Rechazados por el cliente
  </button>
  </h5>
  </div>

  <div
  id="collapseRechazados"
  class="collapse"
  aria-labelledby="headingOne"
  data-parent="#accordionExample"
  >
  <div class="card-body">
  <div class="container">
  <table id="dataTable" datatable class="row-border hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
  <thead>
  <tr>
  <th scope="col">Id</th>
  <th scope="col">Nombre del Candidato</th>
  <th scope="col">Fecha</th>
  <th scope="col"></th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let a of allSeguimiento">
  <th scope="row">{{ a.cndDatoscandidato.cndIdcandidato }}</th>
  <td>{{ a.cndDatoscandidato.cndNombre }}</td>
  <td>{{ a.secEstatus }}</td>
  <td> <i class="fa fa-search"
  ></i></td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
  </div>

